{% extends "page_base_generic.html" %}

{% load i18n %}

{% block title %}FAQ{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            &nbsp;
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">เมนูหลัก</a></li>
              <li class="breadcrumb-item active">คู่มือการใช้งาน E-Leave</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content pt-4">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <h1>{% trans 'FAQ' %}</h1>
            <h5>ระบบ E-Leave</h5>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#q1" aria-expanded="true" aria-controls="collapseOne">
                      <h5 class="text-dark">เราจะรู้ได้ยังไงเหรอคะว่าใครที่เป็นคนอนุมัติวันลาให้เรา...?</h5>                      
                    </button>
                  </h2>
                </div>

                <div id="q1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    โดยปกติแล้วคนอนุมัติวันลาจะเป็น Line Manager ของแผนกที่เราสังกัด เราสามารถตรวจสอบชื่อผู้จัดการได้ที่เมนู <a href="/staff-profile">โปรไฟล์</a> กรณีที่ชื่อผู้จัดการไม่ถูกต้องให้ทำการแจ้งข้อมูลไปที่ฝ่ายบุคคลเพื่อตรวจสอบอีกครั้งครับ
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h5 class="text-dark">
                      สถานะ Pending กับ Success ที่เห็นตอนขออนุมัติวันลาคืออะไรเหรอคะ...?</h5>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    สถานะ Pending คือรายการวันลาที่ได้รับการอนุมัติแล้ว และรอการบาลานซ์วันกลับไปยังระบบ HRMS ส่วนสถานะ Success จะเกิดขึ้นหลังจากการปรับปรุงวันลาที่ระบบ HRMS เสร็จเรียบร้อยครับ
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="h3">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c3" aria-expanded="false" aria-controls="c3">
                      <h5 class="text-dark">
                      ลืมรหัสผ่านไปแล้วทำไงดีคะ...?
                      </h5>
                    </button>
                  </h2>
                </div>
                <div id="c3" class="collapse" aria-labelledby="h3" data-parent="#accordionExample">
                  <div class="card-body">
                    ในเวอร์ชัน 0.0.3 ได้เพิ่มฟีเจอร์ใหม่ให้ผู้ใช้งานสามารถตั้งค่ารหัสผ่านใหม่ได้ด้วยตัวเอง แบบนี้ใครที่นานๆเข้ามาใช้แอพทีแล้วลืมพาสเวิร์ดก็รีเซ็ทตั้งใหม่ได้ด้วยตัวเองเลยนะครับ
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
