{% extends "page_base_generic.html" %}

{% block title %}คู่มือการใช้งาน E-Leave{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            &nbsp;
          </div><!-- /.col -->

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">เมนูหลัก</a></li>
              <li class="breadcrumb-item active">คู่มือการใช้งาน E-Leave</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <h4>หน้าเมนู E-Leave</h4>
            <p align="center"><img src="{% static 'img/help/e_leave_home_page.png' %}" width="550px;"></p>
            <p>Description</p>
            <hr />

            <h4>หน้าสิทธิ์การลา</h4>
            <p align="center"><img src="{% static 'img/help/e_leave_policy_page.png' %}" width="650px;"></p>
            <p>Description</p>
            <hr />

            <h4>หน้าประวัติการลา</h4>
            <p align="center"><img src="{% static 'img/help/e_leave_history_page.png' %}" width="650px;"></p>
            <p>Description</p>
            <hr />

            <h4>หน้าเขียนใบลา</h4>
            <p align="center"><img src="{% static 'img/help/e_leave_create_page.png' %}" width="650px;"></p>
            <p>Description</p>

          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
