{% extends "page_base_generic.html" %}

{% load i18n %}

{% block title %}News{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            &nbsp;
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">เมนูหลัก</a></li>
              <li class="breadcrumb-item active">คู่มือการใช้งาน E-Leave</li>
            </ol>
          </div>
        </div>
      </div>      
    </div>
    -->
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content pt-4">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <h1>{% trans "News" %}</h1>
            <div>

              <table class="table table-hover">
                <tbody>

                  <tr>
                    <td>
                      <h6 class="text-success"><strong><i class="far fa-calendar text-secondary fa-sm"></i>&nbsp;&nbsp;July 9, 2020</strong></h6>
                      <p><strong>รีเซ็ทพาสเวิร์ดใหม่แบบไม่ต้องง้อแอดมิน</strong></p>
                      <table class="table table-hover">
                        <tbody>
                          <tr>
                            <td>ในเวอร์ชัน 0.0.3 กรณีที่ผู้ใช้ลืมรหัสผ่านไปแล้วก็สามารถรีเซ็ทใหม่ได้ด้วยตัวเองเลยนะครับ</td>
                          </tr>
                        </tbody>
                      </table>                      
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <h6 class="text-success"><strong><i class="far fa-calendar text-secondary fa-sm"></i>&nbsp;&nbsp;July 3, 2020</strong></h6>
                      <p><strong>ระบบ E-Leave ออกฟีเจอร์ใหม่</strong></p>
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">มีอะไรบ้างในเวอร์ชัน 0.0.2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>พนักงานสามารถระบุเหตุผลการลาในกรณีที่ผู้จัดการแผนกขอข้อมูลส่วนนี้เพิ่มเติมได้</td>
                          </tr>
                          <tr>
                            <td>ผู้จัดการแผนกสามารถดูวันหยุดคงเหลือของพนักงานเพื่อใช้เป็นข้อมูลประกอบการพิจารณาอนุมัติวันลาได้</td>
                          </tr> 
                          <tr>
                            <td>ผู้จัดการแผนกสามารถปรับเปลี่ยนออพชันสถานะรายการวันลาเพื่อย้อนดูรายการที่ได้เคยทำไปแล้วได้</td>
                          </tr>                                                     
                        </tbody>
                      </table>                      
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <h6 class="text-success"><strong><i class="far fa-calendar text-secondary fa-sm"></i>&nbsp;&nbsp;July 1, 2020</strong></h6>
                      <p><strong>ระบบ E-Leave เปิดใช้งานวันแรก</p></strong>
                    </td>
                  </tr> 

                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
