{% extends "page_base_generic.html" %}

{% block title %}เปลี่ยนรหัสผ่าน{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            &nbsp;
          </div><!-- /.col -->

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">เมนูหลัก</a></li>
              <li class="breadcrumb-item active">เปลี่ยนรหัสผ่าน</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <!-- Small boxes (Stat box) -->
        <div class="row">

          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">

              <form action="" method="post" autocomplete="off">
                {% csrf_token %}

                <div class="card-body">                  

                  <div class="form-group">                                                            
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>                      
                      <input type="text" name="old_password" class="form-control" placeholder="ป้อนรหัสผ่านเก่า">
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock-open"></i></span>
                      </div>                      
                      <input type="text" name="new_password" class="form-control" placeholder="ป้อนรหัสผ่านใหม่">
                    </div> 

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock-open"></i></span>
                      </div>                      
                      <input type="text" name="confirm_new_password" class="form-control" placeholder="ป้อนรหัส่ผ่านใหม่อีกครั้ง">
                    </div>
                  </div>                

                  <div class="container-fluid mb-12">
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endif %}
                  </div> 

                </div>


                <div class="card-footer text-right">                 
                  <button type="submit" class="btn btn-success">ตกลง</button>
                </div>

              </form>


            </div>
          </div>
          
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

{% endblock %}
