{% extends "page_base_generic.html" %}

{% load static %}
{% load i18n %}

{% block title %}{%trans 'Profile'%}{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans 'Profile' %}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'Profile' %}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content pt-4">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

          <!--<div class="col-lg-12">-->
          <div class="col-md-3">

            <!-- Profile Image -->
            {% if EmployeeInstance %}
            {% for employee in EmployeeInstance %}                    
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <!--<img class="profile-user-img img-fluid img-circle" src="{% static 'img/profile-128x128.png' %}" alt="User profile picture">-->
                    </div>
                    {% if user_language == "th" %}
                    <h3 class="profile-username text-center">{{ employee.emp_fname_th }} {{ employee.emp_lname_th }}</h3>
                    <p class="text-muted text-center">{{ employee.pos_en }}</p>
                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        <b>{% trans 'ID' %}</b> <a class="float-right">{{ employee.emp_id }}</a>
                      </li>                        
                      <li class="list-group-item">
                        <b>{% trans 'Type' %}</b> <a class="float-right">{{ employee.emp_type }}</a>
                      </li>                      
                      <li class="list-group-item">
                        <b>{% trans 'Department' %}</b> <a class="float-right">{{ employee.div_th }}</a>
                      </li>
                    </ul>
                    {% else %}
                    <h3 class="profile-username text-center">{{ employee.emp_fname_en }} {{ employee.emp_lname_en }}</h3>
                    <p class="text-muted text-center">{{ employee.pos_en }}</p>
                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        <b>{% trans 'ID' %}</b> <a class="float-right">{{ employee.emp_id }}</a>
                      </li>                        
                      <li class="list-group-item">
                        <b>{% trans 'Type' %}</b> <a class="float-right">{{ employee.emp_type }}</a>
                      </li>                      
                      <li class="list-group-item">
                        <b>{% trans 'Department' %}</b> <a class="float-right">{{ employee.div_en }}</a>
                      </li>
                    </ul>
                    {% endif %}
                  </div>
                  <!-- /.card-body -->
                </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-info-circle"></i>  ไม่พบข้อมูลในระบบ กรุณาสอบถามข้อมูลจากเจ้าหน้าที่ฝ่ายบุคคล
                </div>            
            {% endif %}
            <p>&nbsp;</p>            
            <!-- /.card -->
        </div>



          <div class="col-md-9">
            <div class="card">

              <div class="card-header p-2">
                <ul class="nav nav-pills" id="profiletab">
                  <li class="nav-item"><a class="nav-link active" href="#mymanager" data-toggle="tab"><span style="">{% trans 'My Manager' %}</span></a></li>
                  {% if able_to_approve_leave_request %}
                  <li class="nav-item"><a class="nav-link" href="#myteam" data-toggle="tab">{% trans 'My Team' %}</a></li>
                  {% endif %}
                  
                  {% if perms.page.can_view_all_employees %}
                  <li class="nav-item"><a class="nav-link" href="#allemployees" data-toggle="tab">{% trans 'All Employees' %}</a></li>
                  {% endif %}
                </ul>
              </div><!-- /.card-header -->


              <div class="card-body">

                <div class="tab-content">

                  <!-- Supervisor Tab --> 
                  <div class="active tab-pane" id="mymanager">
                    <!-- Supervisor Information -->
                    <div>
                      <div>
                        {% if SuperVisorInstance %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">{% trans 'Full Name' %}</th>
                                    <th scope="col">{% trans 'Department' %}</th>
                                    <th scope="col">{% trans 'Position' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for member in SuperVisorInstance %}
                                <tr>
                                    {% if user_language == "th" %}
                                    <td>                                      
                                      {{member.emp_fname_th}} {{member.emp_lname_th}}                                      
                                    </td>
                                    <td>{{member.div_th}}</td>
                                    <td>{{member.pos_th}}</td>
                                    {% else %}
                                    <td>{{member.emp_fname_en}} {{member.emp_lname_en}}</td>
                                    <td>{{member.div_en}}</td>
                                    <td>{{member.pos_en}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>                    
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-info-circle"></i>  {% trans 'There is no information. Please contact HR officer.' %}
                            </div>                     
                        {% endif %}
                      </div>
                    </div>
                    <!-- /.Supervisor Information -->
                  </div>
                  <!-- /.tab-pane -->

                  {% if able_to_approve_leave_request %}
                  <div class="tab-pane" id="myteam">
                    <!-- The myteam -->
                    <div>
                      <!-- myteam time label -->
                      <div>

                        <!-- Team Member List -->
                        
                            {% if TeamMemberList %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">{% trans 'ID' %}</th>
                                        <th scope="col">{% trans 'Full Name' %}</th>
                                        <th scope="col">{% trans 'Position' %}</th>
                                        <!--<th scope="col"></th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                {% for member in TeamMemberList %}
                                    <tr>
                                        <td>{{member.emp_id}}</td>
                                        {% if user_language == "th" %}
                                        <td><a href="javascript:void(0);" data-url="{% url 'get_employee_leave_history' member.emp_id %}" class="get_employee_leave_history">{{member.emp_fname_th}} {{member.emp_lname_th}}</a></td>
                                        <td>{{member.pos_th}}</td>
                                        {% else %}
                                        <td><a href="javascript:void(0);" data-url="{% url 'get_employee_leave_history' member.emp_id %}" class="get_employee_leave_history">{{member.emp_fname_en}} {{member.emp_lname_en}}</a></td>
                                        <td>{{member.pos_en}}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>                    
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    <i class="fa fa-info-circle"></i>  ไม่พบข้อมูลในระบบ กรุณาสอบถามข้อมูลจากเจ้าหน้าที่ฝ่ายบุคคล
                                </div>                     
                            {% endif %}
                        

                      </div>
                      <!-- /.myteam-label -->
                    </div>
                  </div>
                  {% endif %}

                  
                  {% if perms.page.can_view_all_employees %}
                  <div class="tab-pane" id="allemployees">
                    <div>
                      <div>
                        <div class="col-lg-12">

                          <form role="form" action="?page=1#allemployees" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="row">
                              <div class="form-group col-lg-12">
                                  {{form.first_name}}
                              </div>
                            </div>

                            <div class="row">
                              <div class="form-group col-lg-12">
                                  {{form.department_list}}
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-lg-12 text-right">
                                <button type="submit" class="btn btn-success btn-md"><i class="fas fa-search"></i>&nbsp;&nbsp;{% trans 'Search' %}</button>
                              </div>
                            </div>
                          </form>

                          <div class="form-group pt-3">
                            <div class="alert alert-info" role="alert">
                            <!--<div class="alert alert-danger col-md-4 col-md-offset-4" align="center">-->

                              {% trans 'Search' %}&nbsp;&nbsp;
                              <strong style="border-bottom: 1px dotted;">

                              {% if not emp_name %}
                                {% trans 'All Employees' %}
                              {% else %}
                                {{ emp_name }}
                              {% endif %}                                    
                            </strong>&nbsp;&nbsp;{% trans 'in department' %}&nbsp;&nbsp;<strong style="border-bottom: 1px dotted;">{{ dept }}</strong>
                            </div>

                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thead-inverse">
                                    <tr>                                
                                        <th>{% trans 'Employee ID' %}</th>
                                        <th>{% trans 'Fullname' %}</th>
                                        <th>{% trans 'Position' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% if current_page %}
                                   {% for employee in current_page %}
                                    <tr>                                
                                        <td>
                                          {{ employee.emp_id }}
                                        </td>
                                        <td>
                                          <a href="javascript:void(0);" data-url="{% url 'get_employee_leave_history' employee.emp_id %}" class="get_employee_leave_history">
                                          {% if user_language == "th" %}
                                          {{ employee.emp_fname_th }} {{ employee.emp_lname_th }}
                                          {% else %}
                                          {{ employee.emp_fname_en }} {{ employee.emp_lname_en }}
                                          {% endif %}
                                          </a>
                                        </td>
                                        <td>
                                          {% if user_language == "th" %}
                                          {{ employee.pos_th }}
                                          {% else %}
                                          {{ employee.pos_en }}
                                          {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                  {% else %}
                                      <tr>                                
                                        <td class="text-center" colspan="3">
                                          {% trans 'Not found' %}
                                        </td>                                          
                                      </tr>
                                  {% endif %}
                                </tbody>
                            </table>

                            {% if is_paginated %}
                            <div>
                                <span>
                                    {% if current_page.has_previous %}
                                        <a href="?page={{ current_page.previous_page_number }}#allemployees"><i class="fas fa-arrow-circle-left"></i></a>
                                    {% endif %}
                                    &nbsp;
                                    <span>
                                        {% trans 'Page' %} {{ current_page.number }} {% trans '/' %} {{ current_page.paginator.num_pages }}
                                    </span>
                                    &nbsp;
                                    {% if current_page.has_next %}
                                        <a href="?page={{ current_page.next_page_number }}#allemployees"><i class="fas fa-arrow-circle-right"></i></a>
                                    {% endif %}
                                </span>
                            </div>
                            {% endif %}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <!-- /.tab-pane -->

                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->

          </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal - Leave Entitlement -->
  <div class="modal fade" id="employeeLeaveEntitlementModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">a{% trans 'Entitlement Remaining' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% trans 'Loading' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal -->
  
{% endblock %}

{% block javascript %}
<script>

  function formatDate(date) {
    console.log(date);
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;

    var dateString = moment(d).format('DD MMMM YYYY HH:MM');
    return dateString;
  }

  $(window).on("popstate", function() {
      var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
      $("a[href='" + anchor + "']").tab("show");
  });

  $(document).ready(function(){

    if (location.hash) {
        $("a[href='" + location.hash + "']").tab("show");
    }
    $(document.body).on("click", "a[data-toggle='tab']", function(event) {
        location.hash = this.getAttribute("href");
    });


    $("body").on("click", "a.get_employee_leave_history", function(event){
      var obj = $(this);  
      $.ajax({
          url: obj.attr("data-url"),
          type: 'get',          
          dataType: 'json',
          beforeSend: function () {
            $("#employeeLeaveEntitlementModal").modal("show");
          },
          success: function (data) {            
            var result = ""
            var count = data.results.length;
            var fullname = data.results[0]["fullname"];
            var entitlement_year = data.results[0]["entitlement_year"];

            result += "<div class='col-12 text-center pb-2'><h5>" + fullname + "</h5></div>";
            result += "<table class='table table-hover table-sm'>";
            result += " <thead>";
            result += "   <tr>";
            result += "     <th scope='col'>{% trans 'Leave Type' %}</th>";
            result += "     <th scope='col'>{% trans 'Remaining' %}</th>";
            result += "     <th scope='col'>{% trans 'Used' %}</th>";
            result += "     <th scope='col'>{% trans 'Waiting' %}</th>";
            result += "       </tr>";
            result += " </thead>";
            result += " <tbody>";
           
            for(var i=0; i<count; i++) {
              
              var leave_name = data.results[i]["leave_name"];
              var leave_plan = data.results[i]["leave_plan"];
              var total_day_remaining = data.results[i]["total_day_remaining"];
              var total_hour_remaining = data.results[i]["total_hour_remaining"];

              var total_day_used = data.results[i]["total_day_used"];
              var total_hour_used = data.results[i]["total_hour_used"];

              var total_day_pending = data.results[i]["total_day_pending"];
              var total_hour_pending = data.results[i]["total_hour_pending"];

              // Type + Entitlement
              result += "<tr>";
              result += "<td><small><strong>" + leave_name + "</strong>&nbsp;" + leave_plan + "&nbsp;{% trans 'Day' %}</small></td>";

              // Remaining
              result += "<td>";
              if(total_day_remaining > 0) {
                result += "<small>" + total_day_remaining + "&nbsp;</small><small>{% trans 'Day' %}</small>";
              }
              if(total_hour_remaining > 0) {
                result += "&nbsp;<small>" + parseFloat(total_hour_remaining).toFixed() + "&nbsp;</small><small>{% trans 'Hour' %}</small>";
              }
              if(total_day_remaining == 0 && parseFloat(total_hour_remaining).toFixed() == 0) {
                result += "<small class='text-danger'><strong>0</strong></small><small>&nbsp;{% trans 'Day' %}</small>";
              }
              result += "</td>";

              // Used
              result += "<td>";
              if(total_day_used > 0) {
                result += "&nbsp;<small>" + total_day_used + "&nbsp;{% trans 'Day' %}</small>";
              }
              if(total_hour_used > 0) {
                result += "&nbsp;<small>" + parseFloat(total_hour_used).toFixed() + "&nbsp;{% trans 'Hour' %}</small>";
              }
              if(total_day_used == 0 && parseFloat(total_hour_used).toFixed() == 0) {
                result += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>0</small>"; 
              }
              result += "</td>";

              // Pending
              result += "<td>";
              if(total_day_pending > 0) {
                result += "&nbsp;<small class='text-danger'><strong>" + total_day_pending + "</strong></small><small>&nbsp;{% trans 'Day' %}</small>";
              }
              if(total_hour_pending > 0) {
                result += "&nbsp;<small class='text-danger'><strong>" + parseFloat(total_hour_pending).toFixed() + "</strong></small><small>&nbsp;{% trans 'Hour' %}</small>";
              }
              if(total_day_pending == 0 && parseFloat(total_hour_pending).toFixed() == 0) {
                result += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>0</small>"; 
              }              
              result += "</td>";
              result += "</tr>";              
            }
            result += "<tr><td colspan='4'>";
              
            result += "<a class='btn btn-primary btn-xs' data-toggle='collapse' href='#collapsetimeline' role='button' aria-expanded='false' aria-controls='collapsetimeline'><i class='fas fa-clock bg-gray fa-xs'></i>&nbsp;&nbsp;{% trans 'Leave Timeline' %}&nbsp;<i class='fas fa-caret-down fa-xs'></i></a>";
            result += "<div class='collapse pt-2' id='collapsetimeline'>";
            result += "  <div class='card card-body'>";
            result += "<div class='table-wrapper-scroll-y my-custom-scrollbar'>";
            var timeline = JSON.parse(data.results[0]["timeline"]);
            var leave_type_list = JSON.parse(data.results[0]["leave_type_list"]);

            if(timeline.length > 0) {
              result += "<table class='table table-sm'>";
              result += "  <thead>";
              result += "    <tr>";
              result += "      <th><small>{% trans 'Leave Type' %}</small></th>";
              result += "      <th><small>{% trans 'Leave Date' %}</small></th>";
              result += "      <th><small>{% trans 'Amount' %}</small></th>";
              result += "    </tr>";
              result += "  </thead>";
              result += "  <tbody>";

              for(var i=0; i<timeline.length; i++) {
                leave_type_id = timeline[i]["fields"]["leave_type"];

                for(var j=0; j<leave_type_list.length; j++) {
                  lve_id = leave_type_list[j]["pk"];
                  lve_th = leave_type_list[j]["fields"]["lve_th"];
                  if (leave_type_id == lve_id) {
                    leave_type_name = lve_th;
                    break;
                  } else {
                    leave_type_name = "Not found";
                  }
                }

                start_date = new Date(timeline[i]["fields"]["start_date"]);
                start_date = moment(start_date).format("DD MMMM YYYY HH:mm");
                end_date = new Date(timeline[i]["fields"]["end_date"]);
                end_date = moment(end_date).format("DD MMMM YYYY HH:mm");
                lve_act = timeline[i]["fields"]["lve_act"];
                lve_act_hr = timeline[i]["fields"]["lve_act_hr"];

                result += "    <tr>";                
                result += "      <td><small>" + leave_type_name + "</small></td>";
                result += "      <td><small>" + start_date + " - " + end_date + "</small></td>";
                if(lve_act > 0) {
                  result += "      <td><small>" + lve_act + " {% trans 'Day' %}</small></td>";
                }
                if(lve_act_hr > 0) {
                  result += "      <td><small>" + lve_act_hr + " {% trans 'Hour' %}</small></td>";
                }

                result += "    </tr>";
              }

              result += "  </tbody>";
              result += "</table>";
              result += "</div>";
            }
            else {
              result += "<small>{% trans 'No timeline information is available.' %} {% trans '(System will display only the leave request which has been approved in E-Leave system).' %}</small>";
            }


            result += " </tbody>";
            result += "</table>";

            $("#employeeLeaveEntitlementModal .modal-title").html("<h5><i class='fa fa-tasks text-secondary fa-xs'></i>&nbsp;&nbsp;{% trans 'Leave Entitlement' %}&nbsp;&nbsp;" + entitlement_year + "</h5>");
            $("#employeeLeaveEntitlementModal .modal-body").html(result);

          },
          error: function(data){
            $("#employeeLeaveEntitlementModal .modal-body").html("{% trans 'There is no data.' %}");
          }
      });      
    });
  });

  </script>
{% endblock %}