{% extends "page_base_generic.html" %}

{% load static %}

{% load i18n %}

{% block title %}{%trans 'Change Password'%}{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            &nbsp;
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'Change Password' %}</li>              
            </ol>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- /.content-header -->


    <!-- Main content -->
    <section class="content pt-4">
      <div class="container-fluid">


        <!-- Small boxes (Stat box) -->
        <div class="row">

          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">

              <form action="" method="post" autocomplete="off">
                {% csrf_token %}

                <div class="card-body">                  

                  <div class="form-group">                                                            
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i>&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Old Password' %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </div>                      
                      {{ form.password }}
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'New Password' %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </div>                      
                      {{ form.new_password }}
                    </div> 

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock-open"></i>&nbsp;&nbsp;{% trans 'Confirm New Password' %} </span>
                      </div>                      
                      {{ form.confirm_new_password }}
                    </div>

                    <!--
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock-open"></i></span>
                      </div>                      
                      {{ form.testfield }}
                    </div>
                    -->
                  </div>                


                  <div class="container-fluid mb-12">
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endif %}
                  </div> 

                </div>


                <div class="card-footer text-right">                 
                  <button type="submit" class="btn btn-success">{% trans 'OK' %}</button>
                </div>

              </form>


            </div>
          </div>
          
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

{% endblock %}
