{% extends "page_staff_profile.html" %}

{% load static %}

{% load i18n %}

{% block title %}{% trans 'My OTP' %}{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>One Time Password (OTP)</h1>
          </div>
          <div class="col-sm-6">
            <!--
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'Set Default Language' %}</li>
            </ol>
            -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <!-- Small boxes (Stat box) -->
        <div class="row">

          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">


                <div class="card-body">

                  

        <div class="row mb-2">
          <div class="col-sm-4 text-center">
            {% if qrcode is None %}              
              <div class="alert text-left" role="alert">
                  <i class="fa fa-info-circle"></i>  ไม่พบข้อมูล QR Code ของท่านในระบบ กรุณาติดต่อฝ่ายบุคคลเพื่อตรวจสอบข้อมูลอีกครั้ง
              </div>                          
            {% else %}
              {{ qrcode|safe }}
              <p class="text-info"><b>My QR code</b></p>
            {% endif %}
            
          </div>
          <div class="col-sm-8 p-0">            
            <ul class="list-group">
              <li class="list-group-item bg-success"><h5>วิธีติดตั้งแอพ OTP บนมือถือ Android หรือ iPhone</h5></li>
              <li class="list-group-item"><span class="btn btn-success"><b>1</b></span> <b>เข้า Play Store หรือ App Store เพื่อดาวน์โหลดแอพ Authenticator</b><br>
                <p class='text-center'><img src="/static/img/microsoft_authenticator.png" width="30" />&nbsp;<b>Microsoft Authenticator</b> หรือ <img src="/static/img/google_authenticator.png" width="30" />&nbsp;<b>Google Authenticator</b></p>
              </li>
              <li class="list-group-item"><span class="btn btn-success"><b>2</b></span> <b>เพิ่มแอคเคาท์ใหม่ในแอพ Authenticator</b>
              <li class="list-group-item">
              &nbsp;<b>กรณีใช้ Microsoft Authenticator ให้ทำตามขั้นตอนนี้</b><br>
              &nbsp;&nbsp;&nbsp;- เลือก Authenticator และคลิกปุ่ม Add account<br>
              &nbsp;&nbsp;&nbsp;- เลือก Personal account<br>
              &nbsp;&nbsp;&nbsp;- เลือก Scan a QR code<br>
              &nbsp;&nbsp;&nbsp;- ให้ทำการสแกน My QR code ของท่านที่แสดงด้านซ้ายมือ
              <br><br>
              &nbsp;<b>กรณีใช้ Google Authenticator ให้ทำตามขั้นตอนนี้</b><br>
              &nbsp;&nbsp;&nbsp;- คลิกปุ่มเพิ่มแอคเคาท์ (ปุ่มเครื่องหมาย +)<br>
              &nbsp;&nbsp;&nbsp;- เลือกเมนู Scan a QR code<br>
              &nbsp;&nbsp;&nbsp;- ให้ทำการสแกน My QR code ของท่านที่แสดงด้านซ้ายมือ
              </li>

              <li class="list-group-item"><span class="btn btn-success"><b>3</b></span> <b>ไปหน้า E-Payslip แล้วป้อนรหัส OTP 6 หลักที่แสดงบนมือถือของท่าน</b></li>
            </ul>

            <!--
            <p>&nbsp;</p>

            <ul class="list-group">
              <li class="list-group-item bg-success"><h5>วิธีใช้งานบนมือถือ iPhone</h5></li>
              <li class="list-group-item">1.เข้า App Store ดาวน์โหลดแอพพลิเคชัน <b>Microsoft Authenticator</b> <img src="/static/img/microsoft_authenticator.png" width="30" /> หรือ <b>Google Authenticator</b> <img src="/static/img/google_authenticator.png" width="30" /> อย่างใดอย่างหนึ่ง</li>
              <li class="list-group-item">2. เปิดแอพพลิเคชันแล้วสแกน My QR Code</li>
              <li class="list-group-item">3. ไปที่เมนู E-Payslip</li>
              <li class="list-group-item">4. ป้อนรหัส OTP 6 หลักที่แสดงบนมือถือเพื่อเข้าระบบ</li>              
            </ul>                                
            -->

          </div>
        </div>


                </div>

                <!--
                <div class="card-footer text-right">&nbsp;</div>                
                -->

            </div>
          </div>
          
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

{% endblock %}
