{% extends "page_default.html" %}

{% block title %}อนุมัติประวัติการลา{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">ต้องการอนุมัติวันลา</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">เมนูหลัก</a></li>
              <li class="breadcrumb-item active">ประวัติการลา</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">

            <form action="" method="POST">
              {% csrf_token %}              
              <b>รหัส:</b>&nbsp;&nbsp;{{ employee_leave_instance.emp_id }}<br>
              <b>พนักงาน:</b>&nbsp;&nbsp;{{ leave_employee.emp_fname_th }} {{ leave_employee.emp_lname_th }}<br>
              <b>ประเภทการลา:</b>&nbsp;&nbsp;{{ employee_leave_instance.leave_type }}<br>
              <b>ลาวันที่:</b>&nbsp;&nbsp;{{ employee_leave_instance.start_date|date:'d N y H:i'}} - {{ employee_leave_instance.end_date|date:'d N y H:i'}}<br>
              <b>จำนวน:</b>&nbsp;&nbsp;
              {% if employee_leave_instance.lve_act != 0 %}
                  {{employee_leave_instance.lve_act}} วัน
                  {% if employee_leave_instance.lve_act_hr != 0 %}
                    &nbsp;{{employee_leave_instance.lve_act_hr}} ช.ม.
                  {% endif %}
              {% else %}
                  {{employee_leave_instance.lve_act_hr}} ช.ม.
              {% endif %}
              <br><br>
              <div class="alert alert-warning" role="alert"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;กรุณาตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่มอนุมัติ</div>
              <input type="button" class="btn btn-secondary" onclick="history.back()" value="ย้อนกลับ" />
              <input type="submit" class="btn btn-success" action="" value="อนุมัติ" />
            </form>

          </div>
          
          <div>&nbsp;</div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
