{% extends "page_daterange.html" %}

{% block title %}ประวัติการลา{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">ประวัติการลา</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">เมนูหลัก</a></li>
              <li class="breadcrumb-item active">ประวัติการลา</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">

            {% if object_list %}            
            <table id="leave_history_table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <!--<th scope="col">วันที่สร้าง</th>-->
                        <th scope="col">ประเภท</th>
                        <th scope="col">ลาวันที่</th>
                        <!--<th scope="col">ถึงวันที่</th>-->
                        <th scope="col">จำนวน</th>                       
                        <th scope="col">สถานะ</th>
                        <th scope="col"></th>                        
                    </tr>
                </thead>
                <tbody>
                {% for leave in object_list %}
                    <tr>
                        <!--<td>{{leave.created_date|date:'d F Y'}}</td>-->
                        <td>{{leave.leave_type}}</td>
                        <td>
                          {{leave.start_date|date:"d N y H:i"}} - {{leave.end_date|date:"d N y H:i"}}
                        </td>
                        <!--<td>{{leave.end_date|date:"d N y H:i a"}}</td>-->
                        <td>
                        {% if leave.lve_act != 0 %}
                            {{leave.lve_act}} วัน
                            {% if leave.lve_act_hr != 0 %}
                              &nbsp;{{leave.lve_act_hr}} ช.ม.
                            {% endif %}
                        {% else %}
                            {{leave.lve_act_hr}} ช.ม.
                        {% endif %}
                        </td>
                        <td>
                            {% if leave.status == 'a' %}
                                <span class="badge badge-success"><i class="fa fa-check fa-xs" aria-hidden="true"></i>&nbsp;&nbsp;อนุมัติ</span>
                            {% elif leave.status == 'p' %}
                                <span class="badge badge-warning"><i class="fa fa-clock fa-xs" aria-hidden="true"></i>&nbsp;&nbsp;รออนุมัติ</span>
                            {% elif leave.status == 'r' %}
                                <span class="badge badge-secondary"><i class="fa fa-times fa-xs" aria-hidden="true"></i>&nbsp;&nbsp;ไม่อนุมัติ</span>                                
                            {% elif leave.status == 'C' %}
                                <span class="badge badge-success"><i class="fa fa-check fa-xs" aria-hidden="true"></i>&nbsp;&nbsp;อนุมัติ</span>
                            {% elif leave.status == 'F' %}
                                <span class="badge badge-success"><i class="fa fa-check fa-xs" aria-hidden="true"></i>&nbsp;&nbsp;อนุมัติ</span>
                            {% else %}
                                ข้อมูลผิดพลาด
                            {% endif %}
                        </td>
                        
                        <td class="text-center py-0 align-middle">

                          <div class="btn-group btn-group-xs">
                              {% if leave.status == 'p' %}
                              <a href="/leave/leave-history/{{leave.id}}/delete" class="btn btn-danger btn-sm"><i class="fas fa-trash fa-xs"></i>&nbsp;&nbsp;ยกเลิก</a>
                              {% endif %}

                              {% if leave.status == 'a' %}
                              <span class="badge badge-pill badge-light"><i class="fas fa-sync fa-xs"></i>&nbsp;&nbsp;Pending</span>
                              {% elif leave.status == 'r' %}                              
                              <a href="#" data-url="{% url 'get_leave_reject_comment' leave.id %}" class="get_leave_reject_comment">
                                <span class="badge badge-pill badge-light"><i class="far fa-comment-alt fa-sm text-secondary"></i>&nbsp;&nbsp;Note</span>
                              </a>
                              {% elif leave.status == 'C' %}                              
                              <span class="badge badge-pill badge-light"><i class="fas fa-sync fa-xs"></i>&nbsp;&nbsp;Success</span>
                              {% elif leave.status == 'F' %}
                              <span class="badge badge-pill badge-light"><i class="fas fa-sync fa-xs"></i>&nbsp;&nbsp;Fail</span>
                              {% else %}
                                &nbsp;
                              {% endif %}
                          </div>
                        </td>                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>&nbsp;</div>
            
            <!--
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">หน้าแรก</a>
                        <a href="?page={{ page_obj.previous_page_number }}"><<</a>
                    {% endif %}

                    <span class="current">
                        หน้า {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">>></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">หน้าสุดท้าย</a>
                    {% endif %}
                </span>
            </div>
            -->

            {% else %}
              <div class="col-lg-12">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;ยังไม่มีรายการอยู่ในระบบ | หากต้องการใช้วันลางาน &nbsp;
                    <a href="{% url 'employee_create' %}">คลิกที่นี่</a>
                    &nbsp;<a href="{% url 'employee_create' %}"><i class="nav-icon fas fa-plus"></i></a>
                </div>           
              </div>
            {% endif %}

          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal -->
  <div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
      <div class="modal-content bg-danger">
        <div class="modal-header">
          <h4 class="modal-title">ต้องการยกเลิกรายการ</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>กดปุ่มยืนยันหากต้องการยกเลิกรายการนี้</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-light" data-dismiss="modal">ย้อนกลับ</button>
          <button type="button" class="btn btn-outline-light">ยืนยัน</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="leaveRejectCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">เหตุผล</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal -->

{% endblock %}

{% block javascript %}

{% endblock %}

