{% extends "page_daterange.html" %}

{% block title %}เขียนใบลา{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">เขียนใบลา</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">E-Leave</li>
              <li class="breadcrumb-item">เขียนใบลา</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <!-- Small boxes (Stat box) -->
        <div class="row">


          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">

              <form action="" method="post" autocomplete="off">
                {% csrf_token %}


                <div class="card-body">                  
                  <div class="form-group">                    
                    <label for="{{ form.leave_type.id_for_label }}">{{ form.leave_type.label }}</label>
                    {{ form.leave_type.errors }}
                    {{form.leave_type}} 
                  </div>

                  <div class="form-group">                                        
                    <!--
                    <label>ลาวันที่</label>                     
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-clock"></i></span>
                        </div>
                        <input type="text" class="form-control float-right" name="reservationtime" id="reservationtime">
                        {{form.start_date}} 
                        {{form.end_date}} 
                    </div>
                    -->

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar"></i>&nbsp;&nbsp;ลาวันที่</span>
                      </div>
                      <!--<input type="text" name="start_date" class="form-control" placeholder="ลาวันที่">-->
                      {{ form.start_date }}
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-clock"></i>&nbsp;&nbsp;เวลา</span>
                      </div>
                      {{ form.start_time }}
                    </div>                    
                    <div class="text-danger">{{ form.start_date.errors }}</div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar"></i>&nbsp;&nbsp;ถึงวันที่</span>
                      </div>
                      <!--<input type="text" name="end_date" class="form-control" placeholder="ถึงวันที่">-->
                      {{ form.end_date }}
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-clock"></i>&nbsp;&nbsp;เวลา</span>
                      </div>
                      {{ form.end_time }}
                    </div>
                    <div class="text-danger">{{ form.end_date.errors }}</div>

                  </div>                

                  <div class="container-fluid mb-12">
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endif %}
                  </div> 

                </div>


                <div class="card-footer">                 
                  <button type="submit" class="btn btn-success">ตกลง</button>
                </div>

              </form>


            </div>
          </div>
          
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
