{% extends "page_base_generic.html" %}

{% load humanize %}

{% load i18n %}

{% block title %}{%trans 'Approval'%}{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 id="page-title" class="m-0 text-dark">{% trans 'Approved List' %}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">

            <!--
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'Approval' %}</li>
            </ol>
            -->

            <div class="dropdown float-right">
              <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="leaverequestfilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;{% trans 'Pending List' %}
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="leaverequestfilter">
                <h6 class="dropdown-header">{% trans 'filter by' %}</h6>
                <a class="dropdown-item" href="#">{% trans 'Pending List' %}</a>
                <a class="dropdown-item" href="#">{% trans 'Approved List' %}</a>
                <a class="dropdown-item" href="#">{% trans 'Rejected List' %}</a>
              </div>
            </div>

          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">

            {% if object_list %}


            <table id="leave_pending_approve_list_table" class="table table-hover table-bordered table-striped">            
                <thead>
                    <tr>
                        <th scope="col">{% trans 'Employee' %}</th>
                        <th scope="col">{% trans 'Type' %}</th>
                        <th scope="col">{% trans 'Date' %}</th>
                        <th scope="col">{% trans 'Amount' %}</th>
                        <th scope="col">{% trans 'Created' %}</th>
                        <td scope="col">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                {% for leave in object_list %}
                    <tr>
                        <td>{{leave.emp_fname_th}} {{leave.emp_lname_th}}</td>
                        <td>
                          {{leave.leave_type}}

                          {% if leave.leave_reason %}
                            &nbsp;<a href="#" data-url="{% url 'get_leave_reason' leave.id %}" class="get_leave_reason">
                              <i class="far fa-comment-alt fa-xs text-secondary"></i>
                            </a>                            
                          {% endif %}

                          {% if leave.document %}
                            &nbsp;<a href="{{ MEDIA_URL }}/media/{{leave.document }}" target="_blank"><i class="fa fa-paperclip fa-xs" aria-hidden="true"></i></a>
                          {% endif %}                          
                        </td>
                        <td>{{leave.start_date|date:"d N y H:i"}} - {{leave.end_date|date:"d N y H:i"}}</td>
                        <td>
                        {% if leave.lve_act != 0 %}
                            {{leave.lve_act}} {% trans 'Day' %}
                            {% if leave.lve_act_hr != 0 %}
                              | {{leave.lve_act_hr}} {% trans 'Hour' %}
                            {% endif %}
                        {% else %}
                            {{leave.lve_act_hr}} {% trans 'Hour' %}
                        {% endif %}
                        </td>                        
                        <td><small>{{ leave.created_date|naturaltime }}</small></td>
                        <td class="text-right py-0 align-middle">
                          <div class="btn-group btn-group-sm">
                             {% if leave.status == 'p' %}
                             <a href="/leave/leave-approval/{{leave.id}}/approve" class="btn btn-success btn-xs"><i class="fas fa-check fa-xs"></i>&nbsp;{% trans 'Approve' %}</a>&nbsp;
                             <a href="/leave/leave-approval/{{leave.id}}/reject" class="btn btn-danger btn-xs"><i class="fas fa-times fa-xs"></i>&nbsp;{% trans 'Reject' %}</a>
                             {% else %}
                                &nbsp;
                             {% endif %}
                          </div>
                        </td>                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                        
            {% else %}
            <div class="col-lg-12">
              <div class="alert alert-success" role="alert">
                  <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{% trans 'There is no leave request item.' %}</a>
              </div>           
            </div>
            {% endif %}
          </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->    
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal - Leave Reason -->
  <div class="modal fade" id="leaveReasonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Leave Reason' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal -->

{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $('#leave_pending_approve_list_table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": false,
      "info": false,
      "autoWidth": false,
      "pageLength": 10,
      "lengthMenu": [[10, 20, 25, 50, -1], [10, 20, 25, 50, "All"]],
      "search": {
          "caseInsensitive": true
      },      
      "oLanguage": {
         "sSearch": "{% trans 'Search' %}"
       },
      "language": {
        "paginate": {
          "previous": "{% trans 'Back' %}",
          "next": "ถัดไป",
        },
        "lengthMenu": '_MENU_ &nbsp;&nbsp;&nbsp;&nbsp;เลือกจำนวนแสดงรายการ',
            "searchPlaceholder": "{% trans 'Employee Name' %}",
            "paginate": {
            "previous": '<i class="fa fa-angle-left"></i>',
                "next": '<i class="fa fa-angle-right"></i>'
        }
      },
      "columnDefs": [
        //{ "orderable": false, "targets": 4 }
      ]           
    });
  });

  $(document).ready(function(){    
    $('button[data-toggle="dropdown"]').html("<i class='fa fa-filter' aria-hidden='true'></i>&nbsp;&nbsp;{% trans 'Approved List' %}");

    $("body").on("click", "a.get_leave_reason", function(event){
      console.log("test");
      var obj = $(this);  
      $.ajax({
          url: obj.attr("data-url"),
          type: 'get',          
          dataType: 'json',
          beforeSend: function () {
            $("#leaveReasonModal").modal("show");
          },
          success: function (data) {              
            $("#leaveReasonModal .modal-body").html(data.leave_reason);
          }
      });
    });

    $('.dropdown-menu a').click(function () {
      if($(this).text() == "Pending List") {
        var url = "{% url 'leave_pending_approve' %}";
        window.location.href = url;            
      }

      if($(this).text() == "Approved List") {
        var url = "{% url 'leave_approved' %}";
        window.location.href = url;      
        // $('button[data-toggle="dropdown"]').html("<i class='fa fa-filter' aria-hidden='true'></i>&nbsp;&nbsp;{% trans 'Approved List' %}");
        // $('#page-title').text("{% trans 'Approved List' %}")
      }

      if($(this).text() == "Rejected List") {
        //$('button[data-toggle="dropdown"]').html("<i class='fa fa-filter' aria-hidden='true'></i>&nbsp;&nbsp;{% trans 'Rejected List' %}");
        //$('#page-title').text("{% trans 'Rejected List' %}")
        //$('#leave_pending_approve_list_table').hide();
        var url = "{% url 'leave_rejected' %}";
        window.location.href = url;      
      }   
    });

  });  
</script>
{% endblock %}
