{% extends "page_base_generic.html" %}

{% load humanize %}

{% load i18n %}

{% block title %}{%trans 'Approval'%}{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'Approval' %}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'Approval' %}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">

            {% if object_list %}
            <table id="leave_approval_table" class="table table-hover table-bordered table-striped">            
                <thead>
                    <tr>
                        <th scope="col">{% trans 'Employee' %}</th>
                        <th scope="col">{% trans 'Type' %}</th>
                        <th scope="col">{% trans 'Date' %}</th>
                        <th scope="col">{% trans 'Amount' %}</th>
                        <th scope="col">{% trans 'Created' %}</th>
                        <td scope="col">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                {% for leave in object_list %}
                    <tr>
                        <td>{{leave.emp_fname_th}} {{leave.emp_lname_th}}</td>
                        <td>
                          {{leave.leave_type}}
                          {% if leave.document %}
                            &nbsp;<a href="{{ MEDIA_URL }}/media/{{leave.document }}" target="_blank"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                          {% endif %}                          
                        </td>
                        <td>{{leave.start_date|date:"d N y H:i"}} - {{leave.end_date|date:"d N y H:i"}}</td>
                        <td>
                        {% if leave.lve_act != 0 %}
                            {{leave.lve_act}} {% trans 'Day' %}
                            {% if leave.lve_act_hr != 0 %}
                              | {{leave.lve_act_hr}} {% trans 'Hour' %}
                            {% endif %}
                        {% else %}
                            {{leave.lve_act_hr}} {% trans 'Hour' %}
                        {% endif %}
                        </td>                        
                        <td><small>{{ leave.created_date|naturaltime }}</small></td>
                        <td class="text-right py-0 align-middle">
                          <div class="btn-group btn-group-sm">
                             {% if leave.status == 'p' %}
                             <a href="/leave/leave-approval/{{leave.id}}/approve" class="btn btn-success"><i class="fas fa-check"></i> {% trans 'Approve' %}</a>&nbsp;
                             <a href="/leave/leave-approval/{{leave.id}}/reject" class="btn btn-danger"><i class="fas fa-times"></i> {% trans 'Reject' %}</a>
                             {% else %}
                                &nbsp;
                             {% endif %}
                          </div>
                        </td>                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            {% else %}
            <div class="col-lg-12">
              <div class="alert alert-success" role="alert">
                  <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{% trans 'There is no leave request item.' %}</a>
              </div>           
            </div>
            {% endif %}
          </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $('#leave_approval_table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": false,
      "info": false,
      "autoWidth": false,
      "pageLength": 10,
      "lengthMenu": [[10, 20, 25, 50, -1], [10, 20, 25, 50, "All"]],
      "search": {
          "caseInsensitive": true
      },      
      "oLanguage": {
         "sSearch": "ค้นหา"
       },
      "language": {
        "paginate": {
          "previous": "ย้อนกลับ",
          "next": "ถัดไป",
        },
        "lengthMenu": '_MENU_ &nbsp;&nbsp;&nbsp;&nbsp;เลือกจำนวนแสดงรายการ',
            //"search": '<i class="fa fa-search"></i>',
            "searchPlaceholder": "ชื่อพนักงาน",
            "paginate": {
            "previous": '<i class="fa fa-angle-left"></i>',
                "next": '<i class="fa fa-angle-right"></i>'
        }
      },
      "columnDefs": [
        //{ "orderable": false, "targets": 4 }
      ]           
    });
  });
</script>
{% endblock %}
