{% extends "page_base_generic.html" %}

{% load humanize %}

{% load i18n %}

{% block title %} {% trans 'Leave Entitlement' %} {% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'Leave Entitlement' %} {% now 'Y' %}</h1>
          </div>
          <div class="col-sm-6">
            <!--
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'Leave Entitlement' %}</li>
            </ol>
            -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">
                {% if leave_policy %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">{% trans 'Type' %}</th>
                      <th scope="col" style="text-align: left">{% trans 'Remaining' %}</th>
                      <th scope="col" style="text-align: left">{% trans 'Used' %}&nbsp;<small><small>| HRMS</small></small></th>
                      <th scope="col" style="text-align: left">{% trans 'Used' %}&nbsp;<small><small>| E-Leave</small></small></th>
                      <th scope="col">{% trans 'Pending' %}</th>
                    </tr>
                  </thead>
                  <tbody>   
                  {% for policy in leave_policy %}
                <tr>                  
                  <!-- ประเภทการลา -->
                  <td>
                    {% if user_language == "th" %}
                    <h6><b>{{ policy.lve_th }}</b>&nbsp;&nbsp;{{policy.lve_plan}}&nbsp;&nbsp;<small>{% trans 'Day' %}</small></h6>
                    {% else %}
                    <h6><b>{{ policy.lve_en }}</b>&nbsp;&nbsp;{{policy.lve_plan}}&nbsp;&nbsp;<small>{% trans 'Day' %}</small></h6>
                    {% endif %}
                  </td>
                  
                  <!-- วันคงเหลือ -->
                  <td>
                    {% if policy.total_day_remaining > 0 %}
                      {{policy.total_day_remaining}} <small>{% trans 'Day' %}</small>
                    {% endif %}

                    {% if policy.total_hour_remaining > 0 %}
                      {{ policy.total_hour_remaining|stringformat:"1.0f" }} <small>{% trans 'Hour' %}</small>
                    {% endif %}

                    {% if policy.total_day_remaining == 0 and policy.total_hour_remaining == 0 %}
                      <span class="text-danger"><strong>0</strong></span>&nbsp;{% trans 'Day' %}
                    {% endif %}             

                    {% if policy.total_day_remaining < 0 or policy.total_hour_remaining < 0 %}
                      <span class="text-danger"><small>รอตรวจสอบ</small></span>
                    {% endif %}

                  </td>
                  
                  <!-- HRMS ใช้ไป -->
                  <td style="text-align: left" class="text-secondary">
                    {% if policy.lve_HRMS > 0 %}
                      {{policy.lve_HRMS}} <small>{% trans 'Day' %}</small>
                    {% endif %}

                    {% if policy.lve_HRMS_HR > 0 %}
                      {{ policy.lve_HRMS_HR|stringformat:"1.0f" }} <small>{% trans 'Hour' %}</small>
                    {% endif %}

                    {% if policy.lve_HRMS == 0 and policy.lve_HRMS_HR == 0 %}
                      0
                    {% endif %}                    
                  </td>

                  <!-- E-Leave ใช้ไป -->
                  <td style="text-align: left">                    
                    {% if policy.total_approved_lve_act_eleave > 0 %}
                        <a href="{% url 'leave_history' %}">{{ policy.total_approved_lve_act_eleave }} <small>{% trans 'Day' %}</small></a>
                    {% endif %}

                    {% if policy.total_approved_lve_act_hr_eleave > 0 %}
                        <a href="{% url 'leave_history' %}">{{ policy.total_approved_lve_act_hr_eleave }} <small>{% trans 'Hour' %}</small></a>
                    {% endif %}

                    {% if policy.total_approved_lve_act_eleave == 0 and policy.total_approved_lve_act_hr_eleave == 0 %}
                        0
                    {% endif%}                  
                  </td>

                  <!-- รออนุมัติ -->
                  <td>
                    {% if policy.total_pending_lve_act_eleave > 0 %}
                        <a href="{% url 'leave_history' %}">{{ policy.total_pending_lve_act_eleave }} <small>{% trans 'Day' %}</small></a>
                    {% endif %}

                    {% if policy.total_pending_lve_act_hr_eleave > 0 %}
                        <a href="{% url 'leave_history' %}">{{ policy.total_pending_lve_act_hr_eleave }} <small>{% trans 'Hour' %}</small></a>
                    {% endif %}

                    {% if policy.total_pending_lve_act_eleave == 0 and policy.total_pending_lve_act_hr_eleave == 0 %}
                        0
                    {% endif%}
                  </td>

                </tr>                  
                  {% endfor %}
                  </tbody>
                </table>

                {% else %}
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{% trans 'Your leave entitlement is being updated. Please refresh this page again in 5 minutes' %}
                </div>                                     
                {% endif %}           
          </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
