{% extends "page_base_generic.html" %}

{% load humanize %}

{% block content %}

{% load i18n %}

{% block title %}{%trans 'Timeline'%}{% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'Timeline' %} {% now 'Y' %}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'Timeline' %}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">
            <!--<div class="pb-2"><small>แสดงวันลาที่อนุมัติในระบบ E-Leave</small></div>-->
            <!-- The time line -->
            {% if leave_approved_items %}              
            <div class="timeline">
              
                {% firstof 1 as month_number %}

                {% for item in leave_approved_items %}                  
                  {% if item.start_date|date:"n" == '1' %}
                    {% firstof "#F5B041" as color %}
                    {% elif item.start_date|date:"n" == '2' %}
                    {% firstof "#B22222" as color %}
                    {% elif item.start_date|date:"n" == '3' %}
                    {% firstof "#008B8B" as color %}
                    {% elif item.start_date|date:"n" == '4' %}
                    {% firstof "#6A5ACD" as color %}
                    {% elif item.start_date|date:"n" == '5' %}
                    {% firstof "#BB8FCE" as color %}
                    {% elif item.start_date|date:"n" == '6' %}
                    {% firstof "#D4AC0D" as color %}
                    {% elif item.start_date|date:"n" == '7' %}
                    {% firstof "#2E8B57" as color %}
                    {% elif item.start_date|date:"n" == '8' %}
                    {% firstof "#BA55D3" as color %}
                    {% elif item.start_date|date:"n" == '9' %}
                    {% firstof "#E67E22" as color %}
                    {% elif item.start_date|date:"n" == '10' %}
                    {% firstof "#3498DB" as color %}
                    {% elif item.start_date|date:"n" == '11' %}
                    {% firstof "#1F618D" as color %}
                    {% elif item.start_date|date:"n" == '12' %}
                    {% firstof "#76448A" as color %}
                    {% else %}
                    {% firstof "#A93226" as color %}
                  {% endif %}
                
                {% if item.start_date|date:"n" != month_number %}
                  {% firstof item.start_date|date:"n" as month_number %}
                  <div class="time-label">
                    <span style="background-color:{{color}};" class="text-white text-center">&nbsp;&nbsp;&nbsp;{{ item.start_date|date:"N" }}&nbsp;&nbsp;&nbsp;</span>
                  </div>                  
                {% endif %}

                <div>
                  {% if item.leave_type_id == 10 or item.leave_type_id == 11 %}
                    <i class="nav-icon fas fa-baby text-white" aria-hidden="true" style="background-color: {{color}};"></i>
                  {% elif item.leave_type_id == 5 %}
                    <i class="nav-icon fa fa-plane text-white" aria-hidden="true" style="background-color: {{color}};"></i>                    
                  {% elif item.leave_type_id == 6 or item.leave_type_id == 7 %}
                    <i class="nav-icon fa fa-stethoscope text-white" aria-hidden="true" style="background-color: {{color}};"></i>
                  {% elif item.leave_type_id == 8 or item.leave_type_id == 9 %}
                    <i class="nav-icon fa fa-suitcase text-white" aria-hidden="true" style="background-color: {{color}};"></i>
                  {% elif item.leave_type_id == 15 %}                  
                    <i class="nav-icon fas fa-pray text-white" aria-hidden="true" style="background-color: {{color}};"></i>                    
                  {% else %}
                    <i class="nav-icon fa fa-laptop-medical text-white" aria-hidden="true"style="background-color: {{color}};"></i>
                  {% endif %}
                  
                  
                  <div class="timeline-item">
                    {% if user_language == "th" %}
                    <h3 class="timeline-header"><strong>{{ item.leave_type.lve_th }}</strong>&nbsp;|&nbsp;
                    {% else %}
                    <h3 class="timeline-header"><strong>{{ item.leave_type.lve_en }}</strong>&nbsp;|&nbsp;
                    {% endif %}                    
                     {% if item.lve_act != 0 %}
                     {{ item.lve_act }} {% trans 'day' %}
                     {% endif %}
                     &nbsp;
                     {% if item.lve_act_hr != 0 %}
                     {{ item.lve_act_hr }} {% trans 'hour' %}
                     {% endif %}                     
                    </h3>
                    <div class="timeline-body">
                      <span class="oi oi-briefcase"></span>{{ item.start_date|date:"d N H:i" }} - {{ item.end_date|date:"d N H:i" }}
                    </div>
                  </div>
                </div>
                {% endfor %}
              <div>
                <i class="fas fa-clock bg-gray"></i>
              </div>

          </div>
          {% else %}
          <div class="col-lg-12">
            <div class="alert alert-success" role="alert">
                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{% trans 'There is no record in E-Leave system. If you would like to take leave, please' %}&nbsp;
                <a href="{% url 'employee_create' %}">{% trans 'click here' %}</a>
                &nbsp;<a href="{% url 'employee_create' %}"><i class="nav-icon fas fa-plus"></i></a>
            </div>           
          </div> 
        {% endif %}        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
