{% extends "page_itcontract.html" %}

{% load humanize %}

{% load i18n %}

{% block title %} {% trans 'Manage IT Contract' %} {% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'IT Contract' %} </h1>
          </div>
          <div class="col-sm-6">                        
            <ol class="breadcrumb float-sm-right">
              <!--
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'ITcontract Entitlement' %}</li>
              -->
              <li>
                <button class="btn btn-outline-info btn-md dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-print fa-sm"></i>&nbsp;&nbsp;Print
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"> 
                  <span style="font-size: 14px;">
                  <a class="dropdown-item" href="#" onclick="print_document();"><i class="fas fa-desktop text-secondary"></i>&nbsp;&nbsp;Display on screen</a>              
                  <a class="dropdown-item" href="#" onclick="print_document();">&nbsp;<i class="far fa-file-excel text-secondary"></i>&nbsp;&nbsp;&nbsp;Export to Excel</a>
                  </span>
                </div>
                &nbsp;&nbsp;
              </li>

              <li class="breadcrumb-item">
                <button type='button' onclick='open_add_item_modal();' class='btn btn-md btn-success' data-toggle='modal'><b>&nbsp;<i class='fas fa-plus fa-xs'></i>&nbsp;New</b>&nbsp;</button>
              </li>
              
            </ol>            
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">
                <table class="table table-striped table-sm" id="contract_list_table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">{% trans 'Deptartment' %}</th>
                      <th scope="col" style="text-align: left">{% trans 'Vendor' %}</th>
                      <th scope="col" style="text-align: left">{% trans 'Description' %}&nbsp;</th>
                      <th scope="col" style="text-align: left">{% trans 'Start Date' %}&nbsp;</th>
                      <th scope="col">{% trans 'End Date' %}</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                  </thead>

                  {% if ITcontractList %}
                  <tbody>  
                    {% for item in ITcontractList %}
                    <tr>                  
                    <td>{{item.id}}</td>
                    <td>{{item.dept}}</td>
                    <td>{{item.vendor}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.start_date|date:"d/m/Y"}}</td>
                    <td>{{item.end_date|date:"d/m/Y"}}</td>
                    <td class='text-right'>
                      <button type='button' onclick='edit_item("{{item.id}}")' class='btn btn-info btn-xs' data-toggle='modal'>&nbsp;<i class='fas fa-pen fa-xs'></i>&nbsp;</button>
                      <button type='button' onclick='delete_item("{{item.id}}")' class='btn btn-danger btn-xs' data-toggle='modal'>&nbsp;<i class='fas fa-trash fa-xs'></i>&nbsp;</button>
                    </td>

                    </tr>
                    {% endfor %}
                  </tbody>                
                  {% else %}
                  <tbody>                    
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>

                  <!--
                  <div class="alert alert-success" role="alert">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;ยังไม่มีข้อมูลในระบบ
                  </div>
                  -->
                  {% endif %}           
                  </table>
          </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->





<!-- ADD MODAL -->
<div class="modal fade" id="add_modal" tabindex="-1" role="dialog">

  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-header bg-success text-white" style="padding:7px;">
        <h5 class="modal-title"><i class="fas fa-plus fa-xs text-white"></i>&nbsp;&nbsp;<strong>Add new item</strong></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;&nbsp;</span>
        </button>
      </div>

            
      <div class="modal-body" style="padding:5px 5px 2px 5px;">        

        <form method="post" autocomplete="off" name="add_contract_list_form">
        {% csrf_token %}

        <div class="col-12 p-0 pt-2 pb-3">
            
            <div class="card-body p-0 pt-2">              
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Department</b>&nbsp;&nbsp;</span>
                <input type="text" name="dept_add" class="form-control rounded-0" id="id_dept_add" value="IT Department" readonly="">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Vendor</b>&nbsp;&nbsp;</span>
                <input type="text" name="vendor_add" class="form-control rounded-0" id="id_vendor_add">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Description</b>&nbsp;&nbsp;</span>
                <input type="text" name="description_add" class="form-control rounded-0" id="id_description_add">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Person</b>&nbsp;&nbsp;</span>
                <input type="text" name="person_add" class="form-control rounded-0" id="id_person_add">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">    
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Email</b>&nbsp;&nbsp;</span>
                <input type="text" name="e_mail_add" class="form-control rounded-0" id="id_e_mail_add">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Tel</b>&nbsp;&nbsp;</span>
                <input type="text" name="tel_add" class="form-control rounded-0" id="id_tel_add">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Price</b>&nbsp;&nbsp;</span>
                <input type="number" name="price_add" class="form-control rounded-0" id="id_price_add" value="0">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Remark</b>&nbsp;&nbsp;</span>
                <input type="text" name="remark_add" class="form-control rounded-0" id="id_remark_add">
              </div>                              
            </div>


            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Start Date</b>&nbsp;&nbsp;</span>                              
                <input type="text" name="start_date_add" class="form-control datepicker rounded-0 bg-white" placeholder="" required="" value="{{start_date}}" id="id_start_date_add" readonly="readonly">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>End Date</b>&nbsp;&nbsp;</span>
                <input type="text" name="end_date_add" class="form-control datepicker rounded-0 bg-white" placeholder="" required="" value="{{end_date}}" id="id_end_date_add" readonly="readonly">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">    
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Alert Email</b>&nbsp;&nbsp;</span>
                <input type="text" name="ae_mail_add" class="form-control rounded-0" id="id_ae_mail_add" value="itsupport@guardforce.co.th" readonly="">
              </div>                              
            </div>

        </div>
      </div>

      <div class="modal-footer" style="padding:5px 5px 5px 0;">        
        <button type="reset" class="btn btn-secondary btn-md" data-dismiss="modal">&nbsp;&nbsp;{% trans 'Cancel' %}&nbsp;&nbsp;</button>
        <button onclick="add_item()" type="button" class="btn btn-primary btn-md">&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Save' %}&nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>

      </form> 

    </div>
  </div>

</div>




<!-- EDIT MODAL -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">

  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-header bg-info text-white" style="padding:7px;">
        <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-pen fa-xs text-white"></i>&nbsp;&nbsp;<strong><span id="edit_item_title">Edit</span></strong></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;&nbsp;</span>
        </button>
      </div>
            
      <div class="modal-body" style="padding:5px 5px 2px 5px;">        

        <div class="col-12 p-0 pt-2 pb-3">

          <form method="post" autocomplete="off" name="edit_contract_list_form">
            {% csrf_token %}
            
            <div class="card-body p-0 pt-2">              
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Department</b>&nbsp;&nbsp;</span>
                <input type="text" name="dept_edit" class="form-control rounded-0" id="id_dept_edit" value="IT Department" readonly="">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Vendor</b>&nbsp;&nbsp;</span>
                <input type="text" name="vendor_edit" class="form-control rounded-0" id="id_vendor_edit">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Description</b>&nbsp;&nbsp;</span>
                <input type="text" name="description_edit" class="form-control rounded-0" id="id_description_edit">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Person</b>&nbsp;&nbsp;</span>
                <input type="text" name="person_edit" class="form-control rounded-0" id="id_person_edit">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                      
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Email</b>&nbsp;&nbsp;</span>
                <input type="text" name="e_mail_edit" class="form-control rounded-0" id="id_e_mail_edit">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Tel</b>&nbsp;&nbsp;</span>
                <input type="text" name="tel_edit" class="form-control rounded-0" id="id_tel_edit">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Price</b>&nbsp;&nbsp;</span>
                <input type="number" name="price_edit" class="form-control rounded-0" id="id_price_edit" value="0">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Remark</b>&nbsp;&nbsp;</span>
                <input type="text" name="remark_edit" class="form-control rounded-0" id="id_remark_edit">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Start Date</b>&nbsp;&nbsp;</span>                              
                <input type="text" name="start_date_edit" class="form-control datepicker rounded-0 bg-white" placeholder="" required="" value="{{start_date}}" id="id_start_date_edit" readonly="readonly">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                           
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>End Date</b>&nbsp;&nbsp;</span>
                <input type="text" name="end_date_edit" class="form-control datepicker rounded-0 bg-white" placeholder="" required="" value="{{end_date}}" id="id_end_date_edit" readonly="readonly">
              </div>                              
            </div>

            <div class="card-body p-0 pt-2">                      
              <div class="input-group col-12 p-0 pl-2">
                <span class="pt-1" style="width: 120px;"><b>Alert Email</b>&nbsp;&nbsp;</span>
                <input type="text" name="ae_mail_edit" class="form-control rounded-0" id="id_ae_mail_edit" value="itsupport@guardforce.co.th" readonly="">
              </div>                              
            </div>

            <input type="hidden" name="it_contract_id_edit" id="id_it_contract_id_edit" value="">

          </form> 

        </div>
      </div>

      <div class="modal-footer" style="padding:5px 5px 5px 0;">
        <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">&nbsp;&nbsp;{% trans 'Cancel' %}&nbsp;&nbsp;</button>
        <button onclick="save_item()" type="button" class="btn btn-primary btn-md">&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Save' %}&nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>

    </div>
  </div>

</div>

{% endblock %}


{% block javascript %}
<script>

$(document).ready( function () {

  $("#id_start_date_add").datepicker({
    dateFormat: "dd/mm/yy",
    changeYear: true,
  }).attr('readonly', 'readonly').datepicker("setDate", new Date());

  $("#id_end_date_add").datepicker({
    dateFormat: "dd/mm/yy",
    changeYear: true,
  }).attr('readonly', 'readonly').datepicker("setDate", new Date());

  $("#id_start_date_edit").datepicker({
    dateFormat: "dd/mm/yy",
    changeYear: true,
  }).attr('readonly', 'readonly');

  $("#id_end_date_edit").datepicker({
    dateFormat: "dd/mm/yy",
    changeYear: true,
  }).attr('readonly', 'readonly');



  $('#add_modal').on('hide.bs.modal', function (e) {
    var today = new Date(); 
    var year = today.getFullYear();
    var month = today.getMonth()+1;
    var day = today.getDate();    

    if(month.length==1)
      month = "0" + month;
    if(day.length==1)
      day = "0" + day;
    var default_date = day + "/" + month + "/" + year;

    $("#id_dept_add").val("IT Department");
    $("#id_ae_mail_add").val("itsupport@guardforce.co.th");

    $("#id_vendor_add").val("");
    $("#id_description_add").val("");
    
    $("#id_person_add").val("");
    $("#id_tel_add").val("");
    $("#id_price_add").val("");
    $("#id_email_add").val("");
    $("#id_remark_add").val("");

    $("#id_start_date_add").val(default_date);
    $("#id_end_date_add").val(default_date);
  });            

});

var table = $('#contract_list_table').DataTable({
  "paging": true,
  "scrollY": "400px",
  "pageLength": 15,
  "scrollCollapse": true,
  "lengthChange": false,
  "searching": true,
  "ordering": true,
  "info": false,
  "autoWidth": true,
  "language": {
    search: '<i class="fa fa-filter" aria-hidden="true"></i>',
    searchPlaceholder: 'กรองข้อมูล'
  },
  "columnDefs": [{
    "targets": 5,
    "orderable": false
  }] 
});  

function showLoading() {
  $.LoadingOverlaySetup({
      background      : "rgba(0, 0, 0, 0.5)",
      image           : "/static/img/logo-small.png",        
      imageAnimation  : "1.5s fadein",
      imageColor      : "#ffcc00"
  });
  $.LoadingOverlay("show"); 
}

function edit_item(id) {  
  $.ajax({
    url: '{% url "ajax_get_it_contract_item" %}',
    type: 'post',          
    dataType: 'json',
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      id: id,
    },
    success: function (data) {
      if(data.is_error) {
        alert(data.error_message);
      } else {
        it_contract_id = id;
        dept = data.dept;
        vendor = data.vendor;
        description = data.description;
        person = data.person;
        tel = data.tel;
        price = data.price
        e_mail = data.e_mail
        remark = data.remark
        start_date = data.start_date;
        end_date = data.end_date;

        $("#id_it_contract_id_edit").val(it_contract_id);
        $("#id_dept_edit").val(dept.trim());
        $("#id_vendor_edit").val(vendor.trim());
        $("#id_description_edit").val(description.trim());
        $("#id_person_edit").val(person.trim());
        $("#id_tel_edit").val(tel.trim());
        $("#id_price_edit").val(price);
        $("#id_e_mail_edit").val(e_mail.trim());
        $("#id_remark_edit").val(remark.trim());
        $("#id_start_date_edit").val(start_date);
        $("#id_end_date_edit").val(end_date);

        $("#edit_item_title").html("Edit #" + id);
      }      
    }
  });  
  
  $("#edit_modal").modal("show");
}

function open_add_item_modal() {
  $("#add_modal").modal("show");
}

function add_item() {
  dept = $("#id_dept_add").val();
  vendor = $("#id_vendor_add").val();
  description = $("#id_description_add").val();
  person = $("#id_person_add").val();
  tel = $("#id_tel_add").val();
  price = $("#id_price_add").val();
  e_mail = $("#id_e_mail_add").val();
  remark = $("#id_remark_add").val();  
  start_date = $("#id_start_date_add").val();
  end_date = $("#id_end_date_add").val();

  $.ajax({
    url: '{% url "ajax_add_it_contract_item" %}',
    type: 'post', 
    dataType: 'json',
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      dept: dept,
      vendor: vendor,
      description: description,
      person: person,
      tel: tel,
      price: price,
      e_mail: e_mail,
      remark: remark,      
      start_date: start_date,
      end_date: end_date,
    },
    success: function (data) {
      if(data.is_error) {        
        $(document).Toasts('create', {
          class: "bg-danger", 
          title: "{% trans 'Error' %}",
          subtitle: '',
          autohide: true,
          delay: 2000,
          body: data.message,
          autoDismiss: true,
          close: true,
          autoremove: true,
        });

      } else {
        $(document).Toasts('create', {
          class: "bg-success", 
          title: "{% trans 'Success' %}",
          subtitle: '',
          autohide: true,
          delay: 2000,
          body: data.message,
          autoDismiss: true,
          close: true,
          autoremove: true,
        });

        result = "";
        for(i=0;i<data.refresh_it_contract_list.length;i++) {
          it_contract_id = data.refresh_it_contract_list[i]['it_contract_id'];
          result += "<tr>";
          result += "<td>" + data.refresh_it_contract_list[i]['it_contract_id'] + "</td>";
          result += "<td><h6><b>" + data.refresh_it_contract_list[i]['dept'] + "</h6></b></td>";
          result += "<td>" + data.refresh_it_contract_list[i]['vendor'] + "</td>";
          result += "<td>" + data.refresh_it_contract_list[i]['description'] + "</td>";
          result += "<td>" + data.refresh_it_contract_list[i]['start_date'] + "</td>";
          result += "<td>" + data.refresh_it_contract_list[i]['end_date'] + "</td>";
          result += "<td class='text-right'>";          
          result += " <button type='button' onclick='edit_item(" + it_contract_id + ")' class='btn btn-info btn-xs js-update-contract-service' data-toggle='modal'>&nbsp;<i class='fas fa-pen fa-xs'></i>&nbsp;</button>&nbsp;";
          result += "<button type='button' onclick='delete_item(" + it_contract_id + ")' class='btn btn-danger btn-xs js-update-contract-service' data-toggle='modal'>&nbsp;<i class='fas fa-trash fa-xs'></i>&nbsp;</button></td>";
          result += "</tr>";          
        }

        $('#contract_list_table tbody').html(result);              
      
        $("#add_modal").modal("hide");
      }      
    }
  });  
}

function save_item(id) {  
  it_contract_id = $("#id_it_contract_id_edit").val();
  dept = $("#id_dept_edit").val();
  vendor = $("#id_vendor_edit").val();
  description = $("#id_description_edit").val();
  person = $("#id_person_edit").val();
  tel = $("#id_tel_edit").val();
  price = $("#id_price_edit").val();
  e_mail = $("#id_e_mail_edit").val();
  remark = $("#id_remark_edit").val();
  start_date = $("#id_start_date_edit").val();
  end_date = $("#id_end_date_edit").val();

  $.ajax({
    url: '{% url "ajax_save_it_contract_item" %}',
    type: 'post',          
    dataType: 'json',
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      it_contract_id: it_contract_id,
      dept: dept,
      vendor: vendor,
      description: description,
      person: person,
      tel: tel,
      price: price,
      e_mail: e_mail,
      remark: remark,
      start_date: start_date,
      end_date: end_date,
    },
    success: function (data) {
      if(data.is_error) {        
        $(document).Toasts('create', {
          class: "bg-danger", 
          title: "{% trans 'Error' %}",
          subtitle: '',
          autohide: true,
          delay: 2000,
          body: data.message,
          autoDismiss: true,
          close: true,
          autoremove: true,
        });  
      } else {

        $(document).Toasts('create', {
          class: "bg-success", 
          title: "{% trans 'Success' %}",
          subtitle: '',
          autohide: true,
          delay: 2000,
          body: data.message,
          autoDismiss: true,
          close: true,
          autoremove: true,
        });

        result = "";
        for(i=0;i<data.refresh_it_contract_list.length;i++) {
          it_contract_id = data.refresh_it_contract_list[i]['it_contract_id'];
          result += "<tr>";
          result += "<td>" + data.refresh_it_contract_list[i]['it_contract_id'] + "</td>";
          result += "<td><h6><b>" + data.refresh_it_contract_list[i]['dept'] + "</h6></b></td>";
          result += "<td>" + data.refresh_it_contract_list[i]['vendor'] + "</td>";
          result += "<td>" + data.refresh_it_contract_list[i]['description'] + "</td>";
          result += "<td>" + data.refresh_it_contract_list[i]['start_date'] + "</td>";
          result += "<td>" + data.refresh_it_contract_list[i]['end_date'] + "</td>";
          result += "<td class='text-right'>";          
          result += " <button type='button' onclick='edit_item(" + it_contract_id + ")' class='btn btn-info btn-xs js-update-contract-service' data-toggle='modal'>&nbsp;<i class='fas fa-pen fa-xs'></i>&nbsp;</button>&nbsp;";
          result += "<button type='button' onclick='delete_item(" + it_contract_id + ")' class='btn btn-danger btn-xs js-update-contract-service' data-toggle='modal'>&nbsp;<i class='fas fa-trash fa-xs'></i>&nbsp;</button></td>";
          result += "</tr>";          
        }

        $('#contract_list_table tbody').html(result);
        $("#edit_modal").modal("hide");
      }
    }
  });  
  
}

function delete_item(id) {

  $.confirm({
    title: 'Confirmation',
    type: 'red',
    content: 'ยืนยันการลบรายการสัญญาเลขที่ <b>#' + id + "</b>",
    animation: 'zoom',
    animationBounce: 1.5,
    closeIcon: true,
    boxWidth: '38%',
    useBootstrap: false,        
    buttons: {
      confirm: {
        text: 'ยืนยัน',
        btnClass: 'btn-danger',
          action: function () {                   
            $.ajax({
              url: '{% url "ajax_delete_it_contract_item" %}',
              type: 'post',          
              dataType: 'json',
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                it_contract_id: id,
              },
              success: function (data) {
                if(data.is_error) {        
                  $(document).Toasts('create', {
                    class: "bg-danger", 
                    title: "{% trans 'Error' %}",
                    subtitle: '',
                    autohide: true,
                    delay: 2000,
                    body: data.message,
                    autoDismiss: true,
                    close: true,
                    autoremove: true,
                  });  
                } else {

                  $(document).Toasts('create', {
                    class: "bg-success", 
                    title: "{% trans 'Success' %}",
                    subtitle: '',
                    autohide: true,
                    delay: 2000,
                    body: data.message,
                    autoDismiss: true,
                    close: true,
                    autoremove: true,
                  });

                  result = "";
                  for(i=0;i<data.refresh_it_contract_list.length;i++) {
                    it_contract_id = data.refresh_it_contract_list[i]['it_contract_id'];
                    result += "<tr>";
                    result += "<td>" + data.refresh_it_contract_list[i]['it_contract_id'] + "</td>";
                    result += "<td><h6><b>" + data.refresh_it_contract_list[i]['dept'] + "</h6></b></td>";
                    result += "<td>" + data.refresh_it_contract_list[i]['vendor'] + "</td>";
                    result += "<td>" + data.refresh_it_contract_list[i]['description'] + "</td>";
                    result += "<td>" + data.refresh_it_contract_list[i]['start_date'] + "</td>";
                    result += "<td>" + data.refresh_it_contract_list[i]['end_date'] + "</td>";
                    result += "<td class='text-right'>";          
                    result += " <button type='button' onclick='edit_item(" + it_contract_id + ")' class='btn btn-info btn-xs js-update-contract-service' data-toggle='modal'>&nbsp;<i class='fas fa-pen fa-xs'></i>&nbsp;</button>&nbsp;";
                    result += "<button type='button' onclick='delete_item(" + it_contract_id + ")' class='btn btn-danger btn-xs js-update-contract-service' data-toggle='modal'>&nbsp;<i class='fas fa-trash fa-xs'></i>&nbsp;</button></td>";
                    result += "</tr>";          
                  }

                  $('#contract_list_table tbody').html(result);
                  $("#edit_modal").modal("hide");
                }    
              }
            });
          }
        },
        cancel: {                   
          action: function () {
                    
          }
        }
      }
  });

}

function print_document() {
  alert("TODO");
}

</script>
{% endblock %}