{% extends "page_system.html" %}

{% load humanize %}

{% load i18n %}

{% block title %} {% trans 'System' %} {% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'System' %} </h1>
          </div>
          <div class="col-sm-6">
            <!--
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">{% trans 'Main Menu' %}</a></li>
              <li class="breadcrumb-item active">{% trans 'PRPO Company' %}</li>
            </ol>
            -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">



              <form method="post" autocomplete="off" id="id_selected_a_period_form" name="selected_a_period_form">

                {% csrf_token %}

                <div class="card-footer">                  
                  <div class="col-12 text-left float-left">
                    <button type="button" id="id_import_outlook_active_user_button" onclick="import_outlook_active_useer_click();" class="btn btn-success submitBtn"><i class="far fa-envelope"></i>&nbsp;&nbsp;{% trans 'Import Outlook Active User' %}</button>
                  </div>
                </div>

              </form>


          </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

{% endblock %}


{% block javascript %}
<script>


function import_outlook_active_useer_click() { 

  $.ajax({
    url: '{% url "ajax_import_outlook_active_user" %}',
    type: 'post',
    async: true,
    data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
    },      
    success: function (data) {
      if(data.is_error) {
        $(document).Toasts('create', {
          class: "bg-danger", 
          title: "{% trans 'Error' %}",
          subtitle: '',
          autohide: true,
          delay: 2000,
          body: data.message,
          autoDismiss: true,
          close: true,
          autoremove: true,
        });

        $("#id_send_email_result").html("<span class='text-danger'>" + data.message + "</span>");

      } else {
        $(document).Toasts('create', {
          class: "bg-success", 
          title: "{% trans 'Success' %}",
          subtitle: '',
          autohide: true,
          delay: 2000,
          body: "ทำรายการสำเร็จ",
          autoDismiss: true,
          close: true,
          autoremove: true,
        });           
      }
            
    }
  });

}


</script>
{% endblock %}
