.login-box, .register-box {
    width: 400px;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .8125rem .5rem;
    transition: width .3s ease-in-out;
    white-space: nowrap;
}

.info-box {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    background: #fcfbfb;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
}

.main-header .navbar-nav .nav-item .nav-link-menubar {
    color: rgba(0,0,0,.5);    
}

/* File input style */
/*input[type="file"]{
    color: transparent;
}*/

input[type='file'] {
    width:96px;
    height:25px;
    opacity:0
}
#val {
    width: 200px;
    height:25px;
    position: relative;
    top: 0;
    left: 0;
    font-size:13px;
    line-height: 25px;
    text-indent: 0px;
    text-align: left;
    pointer-events: none;
}
#button {
    cursor: pointer;
    display: block;
    width: 90px;
    background-color: #e9ecef;
    height:25px;
    color: black;
    position: absolute;
    /*right:0;*/
    top: 0;
    font-size: 11px;
    line-height:25px;
    text-align: center;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    transition: 500ms all;
}
