  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
    	{{ today_date|date:"D d M Y" }}
    </div>
<!-- Default to the left -->
    Version <b>{{ project_version }}</b> | 

    {% if db_server == 'GFDEMOSQL01' %}
    	Production Server
    {% elif db_server == '27.254.207.51' %}
    	Production Server
    {% elif db_server == '10.176.68.27' %}
        Staging Server
    {% else %}
    	Dev Server
    {% endif %}
    </footer>