{% load static %}
{% load i18n %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">      
      <span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="brand-text font-weight-light"><img src="{% static 'img/logo-big.png' %}" width="150px;"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">  

          <!-- Profile -->
          {% if request.path|slice:":6" == '/staff' %}
            {% if request.path|slice:":14" == '/staff-profile' %}
            <li class="nav-item has-treeview active menu-open">
              <a href="{% url 'staff-profile' %}" class="nav-link active">
                &nbsp;&nbsp;<i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;
                <p>{% trans 'Profile' %}</p>
              </a>
            </li>
            {% else%}
            <li class="nav-item has-treeview active menu-open">
              <a href="{% url 'staff-profile' %}" class="nav-link">
                &nbsp;&nbsp;<i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;
                <p>{% trans 'Profile' %}</p>
              </a>
            </li>          
            {% endif %}

            {% if request.path|slice:":15" == '/staff-password' %}
            <li class="nav-item has-treeview active menu-open">
              <a href="{% url 'staff-password' %}" class="nav-link active">
                &nbsp;&nbsp;<i class="fas fa-key"></i>&nbsp;&nbsp;&nbsp;
                <p>{% trans 'Change Password' %}</p>
              </a>
            </li>
            {% else %}
            <li class="nav-item has-treeview active menu-open">
              <a href="{% url 'staff-password' %}" class="nav-link">
                &nbsp;&nbsp;<i class="fas fa-key"></i>&nbsp;&nbsp;&nbsp;
                <p>{% trans 'Change Password' %}</p>
              </a>
            </li>
            {% endif %}

            {% if request.path|slice:":15" == '/staff-language' %}
            <li class="nav-item has-treeview active menu-open">
              <a href="{% url 'staff-language' %}" class="nav-link active">
                &nbsp;&nbsp;<i class="fa fa-language" aria-hidden="true"></i></i>&nbsp;&nbsp;&nbsp;
                <p>{% trans 'Set Default Language' %}</p>
              </a>
            </li>
            {% else %}
            <li class="nav-item has-treeview active menu-open">
              <a href="{% url 'staff-language' %}" class="nav-link">
                &nbsp;&nbsp;<i class="fa fa-language" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                <p>{% trans 'Set Default Language' %}</p>
              </a>
            </li>
            {% endif %}
          {% endif %}

          <!-- End Profile -->


          <!-- Leave -->
          {% if request.path|slice:":7" == '/leave/' %}
          <li class="nav-item has-treeview active menu-open">
            {% if request.path|slice:":6" == '/leave' %}
            <a href="#" class="nav-link active">
            {% else %}
            <a href="#" class="nav-link">
            {% endif %}
            
              <i class="nav-icon fa fa-laptop-medical"></i>
              <p>
                E-Leave
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              
              <li class="nav-item">
                {% if request.path == "/leave/leave-policy/" %}
                <a href="{% url 'leave_policy' %}" class="nav-link active">
                {%else %}
                <a href="{% url 'leave_policy' %}" class="nav-link">
                    {% endif %}
                  &nbsp;&nbsp;<i class="fas fa-tasks"></i>
                  &nbsp;&nbsp;&nbsp;<p>{% trans 'Leave Entitlement' %}</p>
                </a>
              </li>

              <li class="nav-item">
                {% if request.path == "/leave/leave-history/" %}
                <a href="{% url 'leave_history' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_history' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fas fa-history"></i>
                  &nbsp;&nbsp;&nbsp;<p>{% trans 'Leave History' %}</p>
                </a>
              </li>
              <li class="nav-item">
                {% if request.path == "/leave/leave-timeline/" %}
                <a href="{% url 'leave_timeline' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_timeline' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fas fa-bars"></i>
                  &nbsp;&nbsp;&nbsp;<p>{% trans 'Timeline' %}</p>
                </a>
              </li>                            
              <li class="nav-item">
                {% if request.path == "/leave/employee/create/" %}
                <a href="{% url 'employee_create' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'employee_create' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="far fa-edit"></i>
                  &nbsp;&nbsp;&nbsp;<p>{% trans 'New Request' %}</p>
                </a>
              </li>

              {% if able_to_approve_leave_request %}
              <li class="nav-item">
                {% if request.path == "/leave/leave-approve-pending-list/" or request.path == "/leave/leave-approved-list/" or request.path == "/leave/leave-rejected-list/" %}
                <a href="{% url 'leave_approve_pending_list' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_approve_pending_list' %}" class="nav-link">
                {% endif %}
                  &nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>{% trans 'Leave Request List' %}
                    {% if waiting_for_approval_item  > 0 %}
                    <span class="badge badge-success right">{{ waiting_for_approval_item }}</span>
                    {% endif %}                  
                  </p>
                </a>
              </li>
              {% endif %}

              {% if perms.eleavereport.can_view_m1_report %}
              <li class="nav-item">
                {% if request.path == "/eleave-report/" %}
                <a href="{% url 'view_m1_report' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'view_m1_report' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fas fa-poll-h"></i>&nbsp;&nbsp;&nbsp;<p>{% trans 'Reports' %}</p>
                </a>
              </li>
              {% endif %}

            </ul>
          </li>
          {% endif %}



          <!-- E-Leave Reports -->
          {% if request.path|slice:":15" == '/eleave-report/' %}
          <li class="nav-item has-treeview active menu-open">
            {% if request.path|slice:":6" == '/leave' %}
            <a href="#" class="nav-link active">
            {% else %}
            <a href="#" class="nav-link">
            {% endif %}
            
              <i class="nav-icon fa fa-laptop-medical"></i>
              <p>
                E-Leave
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">              
              <li class="nav-item">
                {% if request.path == "/leave/leave-policy/" %}
                <a href="{% url 'leave_policy' %}" class="nav-link active">
                {%else %}
                <a href="{% url 'leave_policy' %}" class="nav-link">
                    {% endif %}
                  &nbsp;&nbsp;<i class="fas fa-tasks"></i>
                  &nbsp;&nbsp;&nbsp;<p>{% trans 'Leave Entitlement' %}</p>
                </a>
              </li>

              <li class="nav-item">
                {% if request.path == "/leave/leave-history/" %}
                <a href="{% url 'leave_history' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_history' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fas fa-history"></i>
                  &nbsp;&nbsp;&nbsp;<p>{% trans 'Leave History' %}</p>
                </a>
              </li>
              <li class="nav-item">
                {% if request.path == "/leave/leave-timeline/" %}
                <a href="{% url 'leave_timeline' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_timeline' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fas fa-bars"></i>
                  &nbsp;&nbsp;&nbsp;<p>{% trans 'Timeline' %}</p>
                </a>
              </li>                            
              <li class="nav-item">
                {% if request.path == "/leave/employee/create/" %}
                <a href="{% url 'employee_create' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'employee_create' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="far fa-edit"></i>
                  &nbsp;&nbsp;&nbsp;<p>{% trans 'New Request' %}</p>
                </a>
              </li>

              {% if able_to_approve_leave_request %}
              <li class="nav-item">
                {% if request.path == "/leave/leave-approve-pending-list/" or request.path == "/leave/leave-approved-list/" or request.path == "/leave/leave-rejected-list/" %}
                <a href="{% url 'leave_approve_pending_list' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_approve_pending_list' %}" class="nav-link">
                {% endif %}
                  &nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>{% trans 'Leave Request List' %}
                    {% if waiting_for_approval_item  > 0 %}
                    <span class="badge badge-success right">{{ waiting_for_approval_item }}</span>
                    {% endif %}                  
                  </p>
                </a>
              </li>
              {% endif %}


              {% if perms.eleavereport.can_view_m1_report %}
              <li class="nav-item">
                {% if request.path == "/eleave-report/" %}
                <a href="{% url 'view_m1_report' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'view_m1_report' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fas fa-poll-h"></i>&nbsp;&nbsp;&nbsp;<p>{% trans 'Reports' %}</p>
                </a>
              </li>
              {% endif %}

            </ul>
          </li>
          {% endif %}


          <!-- Contract -->
          {% if request.path|slice:":10" == '/contract/' %}
            {% if perms.contract.view_tclcontractqty %}
            <li class="nav-item has-treeview active menu-open">
              {% if request.path|slice:":10" == '/contract/' %}
              <a href="#" class="nav-link active">
              {% else %}
              <a href="#" class="nav-link">
              {% endif %}
                <i class="nav-icon fas fa-user-clock"></i>
                <p>
                  Daily Guard Info
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  {% if request.path == "/contract/contract-list/" %}
                  <a href="{% url 'contract-list' %}" class="nav-link active">
                  {% else %}
                  <a href="{% url 'contract-list' %}" class="nav-link">
                  {% endif %}
                    &nbsp;&nbsp;<i class="far fa-calendar-check"></i>
                    <p>รายการสัญญา</p>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
          {% endif %}



          {% if request.path|slice:":10" == '/employee/' %}
          <li class="nav-item has-treeview active menu-open">
            {% if request.path|slice:":6" == '/leave' %}
            <a href="#" class="nav-link active">
            {% else %}
            <a href="#" class="nav-link">
            {% endif %}

              <i class="nav-icon fa fa-laptop-medical"></i>
              <p>
                E-Leave
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% if request.path == "/leave/leave-history/" %}
                <a href="{% url 'leave_history' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_history' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>{% trans 'Leave History' %}</p>
                </a>
              </li>
              <li class="nav-item">
                {% if request.path == "/leave/employee/create/" %}
                <a href="{% url 'employee_create' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'employee_create' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>{% trans 'Leave Request' %}</p>
                </a>
              </li>
              <li class="nav-item">
                {% if request.path == "/leave/leave-policy/" %}
                <a href="{% url 'leave_policy' %}" class="nav-link active">
                {%else %}
                <a href="{% url 'leave_policy' %}" class="nav-link">
                    {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>{% trans 'Leave Entitlement' %}</p>
                </a>
              </li>
              {% if perms.leave.approve_leaveplan %}
              <li class="nav-item">
                {% if request.path == "/leave/leave-approval/" %}
                <a href="{% url 'leave_approval' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_approval' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>{% trans 'Leave Request List' %}</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}

          {% if request.path|slice:":12" == '/help-eleave' %}
          <li class="nav-item has-treeview">
            <h4 class="text-light">คู่มือการใช้งาน</h4>
          </li>
          <li class="nav-item has-treeview">
            <i class="fas fa-book text-secondary"></i>&nbsp;&nbsp;<a href="#send_leave_request">วิธีการใช้วันลา</a>            
          </li>
          <li class="nav-item has-treeview">
            <i class="fas fa-book text-secondary"></i>&nbsp;&nbsp;<a href="#cancel_leave_request">การยกเลิกวันลา</a>            
          </li>          
          <li class="nav-item has-treeview">
            <i class="fas fa-book text-secondary"></i>&nbsp;&nbsp;<a href="#view_leave_policy">การดูข้อมูลสิทธิ์วันลา</a>
          </li>
          <li class="nav-item has-treeview">
            <i class="fas fa-book text-secondary"></i>&nbsp;&nbsp;<a href="#view_leave_history">การดูข้อมูลประวัติการลา</a>         
          </li>
          <li class="nav-item has-treeview">
            <i class="fas fa-book text-secondary"></i>&nbsp;&nbsp;<a href="#approved_leave_request">การอนุมัติวันลา</a>         
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>