{% if perms.leave.approve_leaveplan %}
<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-bell"></i>
    <span class="badge badge-danger navbar-badge">2</span>
  </a>

  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header"><b>2</b>&nbsp;&nbsp;รายการแจ้งเตือน</span>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-envelope mr-2"></i> <b>อำนาจ</b>&nbsp;&nbsp;|&nbsp;&nbsp;ขอใช้วันลา
      <span class="float-right text-muted text-sm">3 นาทีก่อน</span>
    </a>            
    <div class="dropdown-divider"></div>

    <a href="#" class="dropdown-item">
      <i class="fas fa-envelope mr-2"></i> <b>อานนท์</b>&nbsp;&nbsp;|&nbsp;&nbsp;ขอใช้วันลา
      <span class="float-right text-muted text-sm">2 วันก่อน</span>
    </a>            
    <div class="dropdown-divider"></div>

    <a href="{% url 'leave_approval' %}" class="dropdown-item dropdown-footer text-primary">ไปหน้าอนุมัติวันลา</a>
  </div>
</li>
{% else %}
<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-bell"></i>
    <span class="badge badge-danger navbar-badge">2</span>
  </a>

  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header"><b>2</b>&nbsp;&nbsp;รายการแจ้งเตือน</span>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-envelope mr-2"></i> <b>อำนาจ</b>&nbsp;&nbsp;|&nbsp;&nbsp;ขอใช้วันลา
      <span class="float-right text-muted text-sm">3 นาทีก่อน</span>
    </a>            
    <div class="dropdown-divider"></div>

    <a href="#" class="dropdown-item">
      <i class="fas fa-envelope mr-2"></i> <b>อานนท์</b>&nbsp;&nbsp;|&nbsp;&nbsp;ขอใช้วันลา
      <span class="float-right text-muted text-sm">2 วันก่อน</span>
    </a>            
    <div class="dropdown-divider"></div>

    <a href="{% url 'leave_approval' %}" class="dropdown-item dropdown-footer text-primary">ไปหน้าอนุมัติวันลา</a>
  </div>
</li>
{% endif %}