{% extends "page_daterange.html" %}

{% load static %}
{% load i18n %}
{% block title %}{%trans 'New Request'%}{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        
        <div class="row col-12">
          
          <div class="col-4">
            <h1 class="m-0 text-dark">เขียนใบลา M1</h1>
          </div>

          <!--
          <div class="col-8">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item">
                <div class="input-group-prepend p-0">
                    <span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:100px;"><b>{% trans 'EMP ID' %}</b></span>
                    <input type="text" name="emp_id" class="form-control border-bottom-1 border-left-0 rounded-0 bg-white" required="" value="" id="id_emp_id">&nbsp;
                    <button type="button" id="id_search_employee" name="search_employee" data-url="{% url 'm1247_check_leave_request_day' %}" class="btn btn-primary">Search</button>
                </div>
                
              </li>              
            </ol>
          </div>
          -->

        </div>

      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <!-- Small boxes (Stat box) -->
        <div class="row">


          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary p-0">

              <div class="row pl-3 pt-3 pr-3 pb-0">
                
                <div class="float-right text-right col-6 offset-3">

                    <form action="" method="post" autocomplete="off" id="search_employee_form" name="search_employee_form">
                    {% csrf_token %}
                    <div class="input-group-prepend p-0 col-12">
                        <span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:120px;"><b>รหัสพนักงาน</b></span>
                        <input type="number" min=3 maxlength=6 id="id_emp_id" name="emp_id" class="form-control border-bottom-1 border-left-0 rounded-0 bg-white" required="" value="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">&nbsp;                        
                    
                        <!--
                        <span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:100px;">&nbsp;<b>First Name</b></span>
                        <input type="text" name="emp_fname" class="form-control border-bottom-1 border-left-0 rounded-0 bg-white" required="" id="id_emp_fname" value="">&nbsp;
                        
                        <span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:100px;">&nbsp;<b>Last Name</b></span>
                        <input type="text" name="emp_lname" class="form-control border-bottom-1 border-left-0 rounded-0 bg-white" required="" id="id_emp_lname" value="">&nbsp;
                        -->

                        <!--<button type="reset" id="id_cancel_employee_button" name="cancel_employee_button" class="btn btn-secondary">Cancel</button>&nbsp;-->
                        <button type="button" id="id_search_employee" name="search_employee" data-url="{% url 'm1247_check_leave_request_day' %}" class="btn btn-primary">Search</button>

                    </div>
                    </form>
                </div>
              </div>
                        

              <div class="pt-2 pl-3 pr-3 pb-0" id="id_employee_information">
                <!--
                <div id='accordion'>
                  <div class='card card-success'>
                    
                    <div class='card-header'>
                      
                      <h4 class='card-title'>
                        <a data-toggle='collapse' data-parent='#accordion' href='#emp_info'>
                          Employee Information
                        </a>
                      </h4>

                    </div>

                    <div id='emp_info' class='panel-collapse collapse'>
                      <div class='card-body'>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid...
                      </div>
                    </div>

                  </div>
                </div>
                -->
              </div>



              <form action="" method="post" autocomplete="off" enctype="multipart/form-data" id="leaveform" name="leaveform">
                {% csrf_token %}

                <div class="card-body">      


                  <div class="form-group">                    
                    <label for="{{ form.leave_type.id_for_label }}">{{ form.leave_type.label }}</label>
                    {{ form.leave_type.errors }}
                    {% if user_language == "th" %}
                      {{form.leave_type}} 
                    {% else %}
                      
                    <select name="leave_type" class="form-control" required="" id="id_leave_type">
                      <option value="" selected="">---------</option>
                    {% for choice in form.leave_type.field.queryset %}
                        <option value="{{ choice.pk }}">
                        {% if user_language == 'th' %}
                          {{ choice.lve_th}}
                        {% else %}
                          {{ choice.lve_en}}
                        {% endif %}
                        </option>
                      
                    {% endfor %}
                    </select>                      
                    {% endif %}                                    

                  </div>

                  <div class="form-group">                                        

                    <div class="input-group col-xs-12">                      
                      <div class="input-group-prepend">
                        <span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:120px;" ><i class="far fa-calendar"></i>&nbsp;&nbsp;{% trans 'Start' %}</span>
                      </div>
                      {{ form.start_date }}                      
                    </div>     
                    <div class="input-group mb-3 col-xs-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text border-top-0 rounded-0" style="background-color: #d2d4d6; width:119px;"><i class="far fa-clock"></i>&nbsp;&nbsp;{% trans 'Time' %}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </div>
                      {{ form.start_hour }}
                      {{ form.start_minute }}
                    </div>
                    

                    <div class="input-group col-xs-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:120px;"><i class="far fa-calendar"></i>&nbsp;&nbsp;{% trans 'End' %}</span>
                      </div>
                      {{ form.end_date }}
                    </div>
                    <div class="input-group mb-3 col-xs-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text border-top-0 rounded-0" style="background-color: #d2d4d6; width:119px;"><i class="far fa-clock"></i>&nbsp;&nbsp;{% trans 'Time' %}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </div>
                      {{ form.end_hour }}
                      {{ form.end_minute }}                      
                    </div>

                    <div class="input-group mb-3 col-xs-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text rounded-0" style="background-color: #d2d4d6; width:120px;"><i class="far fa-comment-alt" aria-hidden="true"></i>&nbsp;&nbsp;{% trans 'Reason' %}</span>
                      </div>                      
                      {{ form.leave_reason }}
                    </div>
                    
                    <div class="custom-file col-12">
                      <input type="file" class="custom-file-input" id="id_document" name="document">
                      <label class="custom-file-label" for="id_document">{% trans 'Choose file' %}...</label>
                      <small>สามารถแนบไฟล์ประเภท JPG, PNG, PDF</small>
                    </div>

                    <div class="text-danger">{{ form.end_date.errors }}</div>

                  </div>                

                  <div class="container-fluid mb-12" id="show-error">

                  {% comment %}
                  {% if form.errors %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}
                          </div>
                      {% endfor %}                      
                  {% endif %}
                  {% endcomment %}

                  </div> 

                </div>

                <div class="card-footer clearfix bg-light">
                  {{ form.search_emp_id }}
                  <div class="float-right text-right col-md-12">
                    <button type="reset" id="id_cancel_employee_button" name="cancel_employee_button" class="btn btn-secondary">Cancel</button>&nbsp;
                    <button type="submit" class="btn btn-success submitBtn">บันทึกรายการ</button>
                  </div>
                </div>
              </form>


            </div>
          </div>
          
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
<script>
  
    $(document).ready(function () {
      $("#leaveform :input").prop("disabled", true);
      $("#id_emp_id").focus();
        
      $("#id_search_employee").on('click', function() {
        search_employee();
      });

      $("#id_cancel_employee_button").on('click', function() {
          $("#leaveform :input").prop("disabled", true);
          $("#search_employee_form :input").prop("disabled", false);
          $("#id_search_emp_id").val("");
          $("#id_leave_type").empty();
          $("#id_employee_information").html("");
          $('#show-error').html("");
          
          $("#id_emp_id").focus();
          $("#id_emp_id").select();
      });

      $("#search_employee_form").submit(function(e) {
        e.preventDefault();
                  
        if(e.keyCode==13) {
          var emp_id = $("#id_emp_id").val();
          if(emp_id=="") {
            alert("No data");
            $("#id_emp_id").focus();
          }
          else {
            alert("todo");
          }
        }
      });
         
      $("#id_emp_id").bind("keyup",function(e){
        e.preventDefault();
        if(e.keyCode==13) {
          var emp_id = $("#id_emp_id").val();
          if(emp_id=="") {
            $("#id_emp_id").focus();
          }
          else {
            search_employee()
          }
        }
      });

      $('#id_start_date').datepicker({
        dateFormat: "yy-mm-dd",
      }).attr('readonly', 'readonly');

      $('#id_end_date').datepicker({
        dateFormat: "yy-mm-dd",
      }).attr('readonly', 'readonly');

    });

    function search_employee() {
      var emp_id = $("#id_emp_id").val();
      var emp_fname = "";
      var emp_lname = "";

      $.ajax({
          url : "/eleaveadmin/ajax/search_employee/",
          type : "POST",
          data : {          
              csrfmiddlewaretoken: '{{ csrf_token }}',
              emp_id: emp_id,
              emp_fname: emp_fname,
              emp_lname: emp_lname,
          },
          success: function(data) {                   
              if(data.is_found) {                        

                  $("#id_search_emp_id").val(emp_id);

                  // Enable Leave Request Form
                  $("#leaveform :input").prop("disabled", false);

                  // Disable Search Employee Form
                  $("#search_employee_form :input").prop("disabled", true);

                  // Show Employee Information
                  result = "<div id='accordion'>";
                  result += "  <div class='card card-success'>";
                  result += "    <div class='card-header pl-2'>";
                  result += "      <h4 class='card-title'>";
                  result += "        <a data-toggle='collapse' data-parent='#accordion' href='#emp_info'>";
                  result += "<b>" + data.search_emp_fname + " " + data.search_emp_lname + "</b> | " + data.search_emp_pos_th + " (" + data.search_emp_div_th + ")";
                  result += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fas fa-angle-double-down fa-sm'></i>";
                  result += "        </a>";
                  result += "      </h4>";
                  result += "    </div>";
                  result += "    <div id='emp_info' class='panel-collapse collapse'>";
                  result += "      <div class='card-body p-2'>";

    
                  // Show Leave Entitlement
                  if(data.leave_policy.length > 0) {
                    result += "<h5><b>สิทธิ์การลาปี " + data.current_year + "</b></h5>";
                    result += "<div class='col-lg-12 p-0'>";
                    result += "  <table class='table table-striped table-sm'>";
                    result += "    <thead>";
                    result += "      <tr>";
                    result += "        <th scope='col'><b>{% trans 'Type' %}</b></th>";
                    result += "        <th scope='col' style='text-align: right'>{% trans 'Remaining' %}</th>";
                    result += "        <th scope='col' style='text-align: center'>{% trans 'Used' %}&nbsp;<small>| HRMS</small></th>";
                    result += "        <th scope='col' style='text-align: center'>{% trans 'Used' %}&nbsp;<small>| E-Leave</small></th>";
                    //result += "        <th scope='col' style='text-align: center'>วันลาอนุมัติรอซิงค์ข้อมูล</th>";
                    result += "      </tr>";
                    result += "    </thead>";
                    result += "    <tbody>";
                    
                    for(i=0;i<data.leave_policy.length;i++) {

                      result += "  <tr>";

                      // สิทธิ์ลา
                      result += "     <td><b>" + data.leave_policy[i]['lve_th'] + "</b> " +  data.leave_policy[i]['lve_plan'] + " {% trans 'Day' %}</td>";

                      // วันคงเหลือ
                      result += "     <td class='text-right'>";
                      if(data.leave_policy[i]['total_day_remaining'] > 0) {
                        result += data.leave_policy[i]['total_day_remaining'] + " {% trans 'Day' %}";
                      }
                      if(data.leave_policy[i]['total_hour_remaining'] > 0) {
                        result += data.leave_policy[i]['total_hour_remaining'] + " {% trans 'Hour' %}";
                      }
                      if(data.leave_policy[i]['total_day_remaining'] == 0 && data.leave_policy[i]['total_hour_remaining'] == 0) {
                        result += "0";
                      }
                      if(data.leave_policy[i]['total_day_remaining'] < 0 && data.leave_policy[i]['total_hour_remaining'] < 0) {
                        result += "รอตรวจสอบ";
                      }
                      result += "     </td>";


                      // ใช้ไป | HRMS
                      result += "     <td class='text-center'>";
                      if(data.leave_policy[i]['lve_HRMS'] > 0) {
                        result += data.leave_policy[i]['lve_HRMS'] + " {% trans 'Day' %}"; 
                      }
                      if(data.leave_policy[i]['lve_HRMS_HR'] > 0) {
                        result += data.leave_policy[i]['lve_HRMS_HR'] + " {% trans 'Hour' %}"; 
                      }
                      if(data.leave_policy[i]['lve_HRMS'] == 0 && data.leave_policy[i]['lve_HRMS_HR'] == 0) {
                        result += "0";
                      }
                      result += "     </td>";


                      // ใช้ไป | E-Leave
                      result += "     <td class='text-center'>";
                      if(data.leave_policy[i]['total_approved_lve_act_eleave'] > 0) {
                        result += data.leave_policy[i]['total_approved_lve_act_eleave'] + " {% trans 'Day' %}";
                      }
                      if(data.leave_policy[i]['total_approved_lve_act_hr_eleave'] > 0) {
                        result += data.leave_policy[i]['total_approved_lve_act_eleave'] + " trans 'Hour' %}";
                      }
                      if(data.leave_policy[i]['total_approved_lve_act_eleave'] == 0 && data.leave_policy[i]['total_approved_lve_act_hr_eleave'] == 0) {
                        result += "0"
                      }
                      result += "     </td>";
                      
                      // วันลาอนุมัติรอซิงค์ข้อมูล
                      /*
                      result += "     <td class='text-center'>";
                      if(data.leave_policy[i]['total_pending_lve_act_eleave'] > 0) {
                        result += data.leave_policy[i]['total_pending_lve_act_eleave'] + " {% trans 'Day' %}";
                      }
                      if(data.leave_policy[i]['total_pending_lve_act_hr_eleave'] > 0) {
                        result += data.leave_policy[i]['total_pending_lve_act_hr_eleave'] + " {% trans 'Hour' %}";
                      }
                      if(data.leave_policy[i]['total_pending_lve_act_eleave'] == 0 && data.leave_policy[i]['total_pending_lve_act_hr_eleave'] == 0) {
                        result += "0";
                      }
                      result += "     </td>";
                      */

                      result += "  </tr>";
                    }
                    
                    result += "    </tbody>";
                    result += "  </table>";
                    result += "</div>";
                  } else {
                    result += "<h6><b>สิทธิ์การลาปี " + data.current_year + "</b></h6>";                    
                    result += "<div class='col-lg-12 p-0' style='font-size:14px;'>" + "ไม่มีข้อมูลสิทธิ์วันลาของปี " + data.current_year + " ในระบบ กรุณาตรวจสอบอีกครั้ง" + "</div>";
                  }

                  result += "      </div>";
                  result += "    </div>";
                  result += "  </div>";
                  result += "</div>";

                  $("#id_employee_information").html(result);


                  // Fillin Type List
                  $("#id_leave_type").empty();
                  if (data.leave_type_list.length > 0) {
                    $('#id_leave_type').append('<option value="">----------</option>');
                    for(i=0;i<data.leave_type_list.length;i++) {
                      lve_id = data.leave_type_list[i][0];
                      lve_th = data.leave_type_list[i][1];
                      $('#id_leave_type').append('<option value="' + lve_id + '">' + lve_th + '</option>');
                    }                    
                  } else {
                    $("#id_leave_type").empty();
                  }

              } else {
                  $(document).Toasts('create', {
                      class: "bg-danger", 
                      title: "{% trans 'Error' %}",
                      subtitle: '',
                      autohide: true,
                      delay: 2000,
                      body: data.message,
                      autoDismiss: true,
                      close: true,
                      autoremove: true,
                  });

                  $("#id_search_emp_id").val("");
                  $("#id_emp_id").focus();
                  $("#id_emp_id").select();
              }
          }
      });

    }


    $('#check-request-date').click(function(){
        var obj = $(this);
        var leave_type_id = $('#id_leave_type').children("option:selected").val();
        var leave_type_value = $('#id_leave_type').children("option:selected").text();  
        var start_date = $('#id_start_date').datepicker('getDate');
        var start_hour = $('#id_start_hour').val();
        var start_minute = $('#id_start_minute').val();
        var end_date = $('#id_end_date').datepicker('getDate');    
        var end_hour = $('#id_end_hour').val();
        var end_minute = $('#id_end_minute').val();
      
        if(leave_type_id == "") {
          $('#show-error').html("<div class='alert alert-warning' role='alert'><i class='fas fa-exclamation'></i>&nbsp;&nbsp;{% trans 'Please select Leave Type' %}</div>");

        } else {
          $.ajax({
            type:"GET",
            dataType: 'json',
            url: obj.attr("data-url"),
            data:{
              leave_type_id: leave_type_id,
              start_date: moment(start_date).format("YYYY-MM-DD " + start_hour + ":" + start_minute + ":00"),
              end_date: moment(end_date).format("YYYY-MM-DD " + end_hour + ":" + end_minute + ":00"),
            },
            beforeSend: function () {
              $('#show-error').html("<div class='alert alert-warning' role='alert'>Loading...</strong></div>");
            },        
            success: function( data ) 
            {
              result = "";

              if (data.error.length == 0) {  
                total_day = data.total_day;
                total_hour = data.total_hour;

                if (start_minute == 0)
                  start_minute = '00';
                
                if (end_minute == 0)
                  end_minute = '00';

                d1 = moment(start_date).format("MMMM D  " + start_hour + ":" + start_minute);
                d2 = moment(end_date).format("MMMM D  " + end_hour + ":" + end_minute);

                if (total_day > 0) {
                  result += total_day + " {% trans 'Day' %}";
                  text = "<div class='alert alert-warning' role='alert'><strong>" + leave_type_value + " " + result + "</strong><br>{% trans 'Start' %}&nbsp;<strong>" + d1 + "</strong> {% trans 'To' %} <strong>" + d2 + "</strong><br></div>";
                }

                if (total_hour > 0) {
                  result += total_hour + " {% trans 'Hour' %}";
                  text = "<div class='alert alert-warning' role='alert'><strong>" + leave_type_value + " " + result + "</strong><br>{% trans 'Start' %}&nbsp;<strong>" + d1 + "</strong> {% trans 'To' %} <strong>" + d2 + "</strong><br>" + "</div><div><small>* {% trans 'Please notice that if your leave period is between 4 hours or 8 hours, system will deduct 1 hour for lunch time automatcally.' %}</small></div>";
                }            

                $('#show-error').html(text);

              } else {
                $('#show-error').html("<div class='alert alert-warning' role='alert'><strong>" + data.error + "</strong></div>");
              }

            }
          });      
        }
    });



    $("#leaveform").submit(function(e) {
      e.preventDefault();      
      
      // alert("todo");

      $.confirm({
          title: 'Confirmation',
          type: 'red',
          content: 'กรุณาตรวจสอบข้อมูลให้แน่ใจก่อนบันทึกรายการ',
          animation: 'zoom',
          animationBounce: 1.5,
          closeIcon: true,
          boxWidth: '38%',
          useBootstrap: false,        
          buttons: {
              confirm: {
                text: 'ยืนยัน',
                btnClass: 'btn-danger',
                action: function () {                   
                  //alert("OK");
                  formData = new FormData();  
                  data = new FormData($('#leaveform').get(0));

                  $.ajax({
                    url : "/eleaveadmin/ajax/create_m1_leave_request/",
                    type: 'post',          
                    dataType: 'json',
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success : function(data) {
                      if(data.is_error) {                        
                        // alert(data.message);
                        /*
                        $(document).Toasts('create', {
                            class: "bg-danger", 
                            title: "{% trans 'Error' %}",
                            subtitle: '',
                            autohide: true,
                            delay: 2000,
                            body: data.message,
                            autoDismiss: true,
                            close: true,
                            autoremove: true,
                        });
                        */
                        
                        $('#show-error').html("<div class='alert alert-danger' role='alert'>" + data.message + "</strong></div>");

                      } else {
                        alert(data.message);
                      }
                      
                    },
                  });
                }
              },
              cancel: {                   
                action: function () {
                  //alert("Cancel");
                }
              }
          }
      });


    });


    /*
    $("#leaveform").submit(function(e){
        //alert("todo");
        //return false;

        if ($(".submitBtn").attr('attempted') == 'true' ) {
          e.preventDefault();
        } else {
          $(".submitBtn").html("<i class='fa fa-hourglass-half' aria-hidden='true'></i>&nbsp;&nbsp;Processing...");
          $(".submitBtn").attr("disabled", true);
          $(".submitBtn").attr("attempted", 'true');

          alert("TODO");
          return false;
        }
    });
    */

</script>
{% endblock %}

