{% extends "page_prpo.html" %}

{% load humanize %}

{% load i18n %}

{% block title %} {% trans 'PR Entry' %} {% endblock %}

{% block content %}

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-6">
            <h3 class="m-0 text-dark"><b>{{ pr_id }}</b> <small>| edit</small></h3>
          </div>
          <div class="col-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item">
                  <i class="fas fa-reply fa-sm text-secondary"></i>&nbsp;Back to <a href="{% url 'pr-entry-inquiry' %}">PR Inquiry</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">

        <div class="card card-default">            

            <form id="save_company_form" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="card-header">
              <h2 id="company_title" class="card-title pt-1"><b>{{ prpo_company_list.3 }}</b></h2>
              
              <!-- Urgent Flag -->
              <div class="card-tools float-left">  
                  
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label text-danger" for="flexCheckDefault">
                      Urgent
                    </label>
                </div>
                              
              </div>
              
              <div class="card-tools">
                <button type="reset" class="btn btn-md btn-default" id="id_cancel_button">&nbsp;<b>Cancel</b>&nbsp;</button>
                <button class="btn btn-md btn-primary" id="id_save_button">&nbsp;<b>Save</b>&nbsp;</button>
              </div>
            </div>

            <div class="card-body">
              <div class="row">

                <div class="col-12">
                
                    <div class="col-6 float-left">
                        <div class="col-lg-3 float-left">
                            <label for="company_name_en" class="pb-2">Company</label>
                        </div>

                        <div class="col-lg-9 float-right">
                            <!-- Company -->
                            <select id="id_company_option" name="company_option" class="form-control form-control-md" style="border-radius: 0; width: 100%;" onchange="category_change();">
                                {% for item in company_list %}
                                <option value="{{item.cpid}}">{{ item.cpname }}</option>
                                {% endfor %}                        
                            </select>
                        </div>

                    </div>

                    <div class="col-6 float-right">
                        
                        <!-- Project -->
                        <div class="col-lg-3 float-left">
                            <label for="company_name_en" class="pb-2">Project #</label>
                        </div>                        
                        <div class="col-lg-9 float-right">                            
                            <select id="id_project_option" name="project_option" class="form-control form-control-md" style="border-radius: 0; width: 100%;" onchange="category_change();">
                                {% for item in project_list %}
                                <option value="{{item.cpaid}}">{{ item.cpanumber }}</option>
                                {% endfor %}                        
                            </select>
                        </div>                
                    </div>

                </div>

                <div class="col-12">
                
                    <div class="col-6 float-left">
                        <div class="col-lg-3 float-left">
                            <label for="company_name_en" class="pb-2">Division</label>
                          </div>
                          <div class="col-lg-9 float-right">
                            <!-- Division -->
                            <select id="id_division_option" name="division_option" class="form-control form-control-md" style="border-radius: 0; width: 100%;" onchange="category_change();">
                                {% for item in division_list %}
                                <option value="{{item.ctid}}">{{ item.ctname }}</option>
                                {% endfor %}                        
                            </select>
                          </div>
                    </div>

                    <div class="col-6 float-right">
                        <div class="col-lg-3 float-left">
                            <label for="company_name_en" class="pb-2">Currency</label>
                          </div>
                          <div class="col-lg-9 float-right">                            
                            <!-- Currency -->
                            <select id="id_currency_option" name="currency_option" class="form-control form-control-md" style="border-radius: 0; width: 100%;" onchange="category_change();">
                                <option value="THB" selected>THB</option>
                            </select>                            
                          </div>
                    </div>

                </div>
            
                <div class="col-12">    
                    <hr>                
                    <!-- Vendor Type -->
                    <div class="col-10 float-left">

                        <div class="col-lg-2 float-left">
                            <label for="company_name_en" class="pb-2">Vendor Type</label>
                        </div>

                        <div class="col-lg-10 float-left text-left">
                            <div class="form-check form-check-inline pl-10">
                                <input class="form-check-input" type="radio" name="vendor_options" id="inlineRadio1" value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1">Any Vendor</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="vendor_options" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Vendor Recommended</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="vendor_options" id="inlineRadio3" value="option3">
                                <label class="form-check-label" for="inlineRadio3">Vendor Nominated</label>
                            </div>
                        </div>
                    </div>
                </div>                

                <div class="col-12">                    
                    <!-- Vendor Name -->
                    <div class="col-6 float-left">
                        <div class="col-lg-3 float-left">
                            <label for="id_vendor_name" class="pb-2">Vendor Name</label>
                          </div>
                          <div class="col-lg-9 float-right">
                            <input type="text" class="form-control" id="id_vendor_name" name="vendor_name" />
                          </div>
                    </div>

                    <!-- Reason -->
                    <div class="col-6 float-right">
                        <div class="col-lg-3 float-left">
                            <label for="id_reason" class="pb-2">Reason</label>
                          </div>
                          <div class="col-lg-9 float-right">
                            <input type="text" class="form-control" id="id_reason" name="reason" />
                          </div>
                    </div>
                </div>


                <div class="col-12">                    
                    <!-- Ship To -->
                    <div class="col-6 float-left">
                        <div class="col-lg-3 float-left">
                            <label for="id_vendor_name" class="pb-2">Ship To</label>
                          </div>
                          <div class="col-lg-9 float-right">
                            <input type="text" class="form-control" id="id_ship_to" name="ship_to" />
                          </div>
                    </div>

                    <!-- Item Type -->
                    <div class="col-6 float-right">
                        <div class="col-lg-3 float-left">
                            <label for="id_reason" class="pb-2">Item Type</label>
                          </div>
                          <div class="col-lg-9 float-right">
                            <select id="id_item_type_options" name="item_type_options" class="form-control form-control-md" style="border-radius: 0; width: 100%;" onchange="category_change();">
                                <option value="0" selected>None</option>
                                <option value="1">New Item</option>
                                <option value="2">Replacement</option>
                                <option value="3">Hard Copy & Soft Copy</option>
                            </select>
                          </div>
                    </div>

                </div>



                <input type="hidden" value="{{ prpo_company_list.0 }}" name="company_id" id="company_id" />
              </div>
            </div>

          </div>
          </form>

      </div>
    </section>

  </div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready( function () {

  $("#save_company_form").submit(function(e) {
	  e.preventDefault();

    formData = new FormData();
    data = new FormData($('#save_company_form').get(0));

    $.ajax({
      url: '{% url "prpo-ajax-save-company" %}',
      type: 'post',
      dataType: 'json',
      data: data,
      cache: false,
      processData: false,
      contentType: false,    
      success: function (data) {
        if(data.is_error) {          
          $(document).Toasts('create', {
            class: "bg-danger", 
            title: "{% trans 'Error' %}",
            subtitle: '',
            autohide: true,
            delay: 2000,
            body: data.error_message,
            autoDismiss: true,
            close: true,
            autoremove: true,
          });     
        } else {
          $("#company_title").html("<b>" + data.company_title + "</b>");

          $(document).Toasts('create', {
            class: "bg-success", 
            title: "{% trans 'Success' %}",
            subtitle: '',
            autohide: true,
            delay: 2000,
            body: data.error_message,
            autoDismiss: true,
            close: true,
            autoremove: true,
          });          
        }
      },
    });   

  });

});

function edit_company(company_id) {  
  alert("todo: edit");
}

function delete_company(company_id) {
  alert("todo: delete company_id " + company_id);
}

</script>
{% endblock %}