{% extends "page_prpo.html" %}

{% load humanize %}

{% load i18n %}

{% block title %} {% trans 'PR Entry' %} {% endblock %}

{% block content %}

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-6">
            <h3 class="m-0 text-dark"><b>{{ pr_id }}</b> <small>| edit</small></h3>
          </div>
          <div class="col-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item">
                  <i class="fas fa-reply fa-sm text-secondary"></i>&nbsp;Back to <a href="{% url 'pr-entry-inquiry' %}">PR Inquiry</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">



        
        <div class="col-md-12">            
            <!--<form method="post" action="/prop/ajax-pr-inquiry/" autocomplete="off" name="search_pr_form" id="id_search_pr_form">-->
            <form id="save_pr_form" method="post" autocomplete="off">
              {% csrf_token %}
  
              <div class="card">
  
                <div class="card-header">
                  
                    <!-- Urgent Flag -->
                    <div class="card-tools float-left">                    
                        <div class="form-check">
                            {% if prurgent %}
                            <input class="form-check-input" type="checkbox" value="" id="id_pr_urgent" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="" id="id_pr_urgent">
                            {% endif %}
                            <label class="form-check-label text-danger" for="flexCheckDefault"><b>Urgent</b></label>
                        </div>                              
                    </div>

                    <div class="card-tools">
                        <button type="reset" class="btn btn-md btn-default" id="id_cancel_button">&nbsp;<b>Cancel</b>&nbsp;</button>
                        <button class="btn btn-md btn-primary" id="id_save_button">&nbsp;<b>Save</b>&nbsp;</button>
                    </div>
                </div>
  
                <div class="card-body">

                  <div class="input-group col-6 float-left">
  
                    <!-- Company -->
                    <div class="input-group-prepend col-6 bg-secondary p-0"><span class="input-group-text border-bottom-1 rounded-0" style="width:100%;"><b>Company</b></span></div>
                    <select id="id_company_options" name="company_options" class="form-control form-control-md float-left" style="border-radius: 0; width: 50%;">
                        {% for item in company_list %}
                            {% if item.cpid|stringformat:'s' == prcompany|stringformat:'s' %}
                            <option value="{{item.cpid}}" selected>{{ item.cpname }}</option>
                            {% else %}
                            <option value="{{item.cpid}}">{{ item.cpname }}</option>
                            {% endif %}                        
                        {% endfor %}
                    </select>

                    <!-- Division -->
                    <div class="input-group-prepend col-6 bg-secondary p-0"><span class="input-group-text border-bottom-1 rounded-0" style="width:100%;"><b>Division</b></span></div>
                    <select id="id_division_options" name="division_options" class="form-control form-control-md" style="border-radius: 0; width: 50%;"">
                        {% for item in division_list %}
                            {%if item.ctid|stringformat:'s' == prcategory|stringformat:'s' %}
                            <option value="{{item.ctid}}" selected>{{ item.ctname }}</option>
                            {% else %}
                            <option value="{{item.ctid}}">{{ item.ctname }}</option>
                            {% endif %}
                        {% endfor %}                        
                    </select>

                  </div>
  

                  <div class="input-group col-6 float-right">
                    <!-- Project -->
                    <div class="input-group-prepend col-6 bg-secondary p-0"><span class="input-group-text border-1 rounded-0" style="width:100%;"><b>Project #</b></span></div>
                    <select id="id_project_options" name="project_options" class="form-control form-control-md" style="border-radius: 0; width:50%;">
                        <option value="0">None</option>
                        {% for item in project_list %}                                                    
                            {% if item.cpaid|stringformat:'s' == prcpa|stringformat:'s' %}
                            <option value="{{item.cpaid}}" selected>{{ item.cpanumber }}</option>
                            {% else %}
                            <option value="{{item.cpaid}}">{{ item.cpanumber }}</option>
                            {% endif %}
                        {% endfor %}                        
                    </select>                 

                    <!-- Currency -->
                    <div class="input-group-prepend col-6 p-0 bg-secondary"><span class="input-group-text border-1 rounded-0" style="width:100%;"><b>Currency</b></span></div>
                    <select id="id_currency_option" name="currency_option" class="form-control form-control-md" style="border-radius: 0;">
                        <option value="THB" selected>THB</option>
                    </select>                                      
                  </div>
  

                  <!-- Vendor Type -->                  
                  <div class="input-group col-12 pt-2 float-left">
                    <div class="input-group-prepend p-0"><span class="input-group-text rounded-0" style="width: 100%;"><b>Vendor Type</b></span></div>

                    <div class="float-left text-left pt-2">
                        &nbsp;&nbsp;&nbsp;
                        {% for item in vendor_type_list %}
                            {% if item.vendor_type_id|stringformat:'s' == prvendortype|stringformat:'s' %}
                            <div class="form-check form-check-inline pl-10">
                                <input class="form-check-input" type="radio" name="vendor_type_options" value="{{item.vendor_type_id}}" checked>
                                <label class="form-check-label" for="vendor_type_options">{{item.vendor_type_name}}</label>
                            </div>
                            {% else %}
                            <div class="form-check form-check-inline pl-10">
                                <input class="form-check-input" type="radio" name="vendor_type_options" value="{{item.vendor_type_id}}">
                                <label class="form-check-label" for="vendor_type_options">{{item.vendor_type_name}}</label>
                            </div>
                            {% endif %}
                        {% endfor %}

                        <!--
                        <div class="form-check form-check-inline pl-10">
                            <input class="form-check-input" type="radio" name="vendor_options" id="inlineRadio1" value="option1" checked>
                            <label class="form-check-label" for="inlineRadio1">Any Vendor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="vendor_options" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Vendor Recommended</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="vendor_options" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3">Vendor Nominated</label>
                        </div>
                        -->
                    </div>                    
                  </div>
                 

                  <div class="input-group col-6 float-left">
                    <!-- Vendor Name -->
                    <div class="input-group-prepend col-6 bg-secondary p-0"><span class="input-group-text border-bottom-1 rounded-0" style="width:100%;"><b>Vendor Name</b></span></div>
                    <input type="text" class="form-control" id="id_vendor_name" name="vendor_name" />

                    <!-- Ship To -->
                    <div class="input-group-prepend col-6 bg-secondary p-0"><span class="input-group-text border-bottom-1 rounded-0" style="width:100%;"><b>Ship To</b></span></div>
                    <input type="text" class="form-control" id="id_ship_to" name="ship_to" />
                  </div>
  
                  
                  <div class="input-group col-6 float-right">
                    <!-- Reason -->
                    <div class="input-group-prepend col-6 bg-secondary p-0"><span class="input-group-text border-1" style="width:100%;"><b>Reason</b></span></div>
                    <input type="text" class="form-control" id="id_reason" name="reason" />

                    <!-- Item Type -->
                    <div class="input-group-prepend col-6 p-0 bg-secondary"><span class="input-group-text border-1 rounded-0" style="width:100%;"><b>Item Type</b></span></div>
                    <select id="id_item_type_options" name="item_type_options" class="form-control form-control-md" style="border-radius: 0; width: 50%;">
                        {% for item in item_type_list %}
                            {% if item.item_type_id|stringformat:'s' == pritemtype|stringformat:'s' %}
                            <option value="{{item.item_type_id}}" selected>{{ item.item_type_name }}</option>
                            {% else %}
                            <option value="{{item.item_type_id}}">{{ item.item_type_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>                  

                  <div class="input-group col-6 float-left">
                    <!-- Attention To -->
                    <div class="input-group-prepend col-6 bg-secondary p-0"><span class="input-group-text border-bottom-1 rounded-0" style="width:100%;"><b>Attention To</b></span></div>
                    <input type="text" class="form-control" id="id_attention_to" name="attention_to" />
                  </div>
                
                  <div class="input-group col-6 float-right">
                    <!-- Attachment -->
                    <div class="input-group-prepend col-6 bg-secondary p-0"><span class="input-group-text border-1 rounded-0" style="width:100%;"><b>Attachment</b></span></div>
                    <input type="text" class="form-control" id="id_reason" name="reason" />
                  </div>

                  <div class="input-group col-12 float-left">
                    <!-- Remark -->
                    <div class="input-group-prepend bg-secondary p-0"><span class="input-group-text rounded-0" style="width:100%;"><b>Remark</b></span></div>
                    <input type="text" class="form-control" id="id_remark" name="remark" />
                  </div>


                </div>

              </div>
            </form>
  
          </div>

      </div>
    </section>

  </div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready( function () {

  $("#save_pr_form").submit(function(e) {
	e.preventDefault();
    alert("TODO");
    return false;

    formData = new FormData();
    data = new FormData($('#save_company_form').get(0));

    $.ajax({
      url: '{% url "prpo-ajax-save-company" %}',
      type: 'post',
      dataType: 'json',
      data: data,
      cache: false,
      processData: false,
      contentType: false,    
      success: function (data) {
        if(data.is_error) {          
          $(document).Toasts('create', {
            class: "bg-danger", 
            title: "{% trans 'Error' %}",
            subtitle: '',
            autohide: true,
            delay: 2000,
            body: data.error_message,
            autoDismiss: true,
            close: true,
            autoremove: true,
          });     
        } else {
          $("#company_title").html("<b>" + data.company_title + "</b>");

          $(document).Toasts('create', {
            class: "bg-success", 
            title: "{% trans 'Success' %}",
            subtitle: '',
            autohide: true,
            delay: 2000,
            body: data.error_message,
            autoDismiss: true,
            close: true,
            autoremove: true,
          });          
        }
      },
    });   

  });

});

function edit_company(company_id) {  
  alert("todo: edit");
}

function delete_company(company_id) {
  alert("todo: delete company_id " + company_id);
}

</script>
{% endblock %}